:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Trebuchet MS";

  .header {
    display: flex;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 108px;
        width: 450px;
      }
    }

    .heading {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 20px;
      font-size: 0.86em;
      text-align: center;
      line-height: 1.2;
    }
  }

  .company-description {
    border-bottom: 2px solid var(--color-black);
    font-size: 0.79em;
    text-align: center;
  }

  .body-content {
    .heading {
      margin-top: 10px;
      display: flex;

      .column-container {
        .column-wrapper {
          display: flex;
          flex-direction: column;
          font-size: 0.9em;

          .row {
            display: flex;
            height: 18px;

            .column-key {
              text-align: end;
              width: 150px;
            }
            .column-value {
              width: 90px;
              font-weight: 600;
              border-bottom: 1px solid var(--color-black);
            }
          }
        }

        .invoice-title {
          background-color: cyan;
          font-size: 1.18em;
          font-weight: 600;
          text-align: center;
          height: 40px;

          .title {
          }

          .number {
          }
        }
      }

      .column-container-buyer {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        font-size: 1em;
        text-align: center;
        font-weight: 600;
        width: 300px;
        border: 3px solid var(--color-black);

        .row {
          display: flex;
          height: 86px;
          align-items: center;
          justify-content: center;
          .wrapper {
            display: flex;
            flex-direction: column;
          }
        }

        .pib {
          display: flex;
          height: 40px;
          background-color: cyan;
          font-size: 1em;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .table {
      border: 2px solid var(--color-black);
      margin-top: 20px;

      th {
        text-align: center;
        border-bottom-style: double;
        font-size: 0.86em;
        border-left: 2px solid var(--color-black);
        border-right: 2px solid var(--color-black);
      }

      tr {
        td {
          border: 1px solid var(--color-black);
          font-size: 0.86em;
        }

        .countNumber {
          width: 40px;
        }
        .description {
          width: 220px;
        }
        .uom {
          width: 30px;
        }
        .quantity {
          width: 40px;
        }
        .unitPrice {
          width: 75px;
        }
        .netPrice {
          width: 75px;
        }
        .vatRate {
          width: 45px;
        }
        .vatAmount {
          width: 75px;
        }
        .grossPrice {
          width: 75px;
        }
      }
    }

    .complaints {
      font-size: 0.79em;
      text-align: center;
      margin: 10px 0;
    }

    .signature {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: space-between;

      .signature-container {
        display: flex;
        flex-direction: column;

        .title {
          margin-bottom: 20px;
          text-align: center;
          font-size: 0.86em;
        }

        .description {
          width: 200px;
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
  }
}

.bold {
  font-weight: 600;
}
.right {
  text-align: end;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
