<div class="container" *ngIf="invoice">
  <div class="header">
    <div class="logo">
      <img src="{{ 'assets/images/company_logo.PNG' }}" />
    </div>
    <div class="heading">
      <div class="title bold">
        {{ settings?.invoiceCompanyName || "STAKLO RAM PLUS s.z.t.r." }}
      </div>
      <div class="title">
        {{ settings?.invoiceCompanyStreet || "Žarka Zrenjanina 70" }}
      </div>
      <div class="title">
        {{ settings?.invoiceZipCodeCity || "21400 Bačka Palanka" }}
      </div>
      <div class="title">
        {{ settings?.invoiceContactsPhoneFax || "tel-fax: +381 21 60 44 182" }}
      </div>
      <div class="title">
        {{ "mail: " + settings?.companyEmail || "staklorambp@gmail.com" }}
      </div>
      <div class="title bold">
        {{ settings?.companyWebsite || "" }}
      </div>
    </div>
    <div class="qr-code" *ngIf="settings?.qrCodeShowOnInvoice">
      <qrcode
        [qrdata]="getQrCodeDataForInvoice(invoice)"
        [width]="130"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </div>
  </div>
  <div class="company-description">
    <span>{{
      settings?.invoiceCompanyDescription ||
        "Šifra del.: 2312; MB: 62199130; PIB: 105509737;"
    }}</span>
    <span class="bold">{{
      " " + settings?.invoiceBankAccounts ||
        "Tekući račun: 310-16916-02 NLB, 330-11001154-04 Credit Agricole"
    }}</span>
  </div>
  <div class="body-content">
    <div class="heading">
      <div class="column-container">
        <div class="column-wrapper">
          <div class="row">
            <div class="column-key">{{ "placeOfInvoice" | translate }}:</div>
            <div class="column-value">{{ invoice.placeOfIssue }}</div>
          </div>
          <div class="row">
            <div class="column-key">{{ "dateOfInvoice" | translate }}:</div>
            <div class="column-value">
              {{ invoice.dateOfCreate | date : "dd.MM.yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="column-key">{{ "methodOfPayment" | translate }}:</div>
            <div class="column-value">{{ invoice.methodOfPayment }}</div>
          </div>
          <div class="row">
            <div class="column-key">{{ "maturityDate" | translate }}:</div>
            <div class="column-value">
              {{ invoice.dateOfMaturity | date : "dd.MM.yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="column-key">
              {{ "dateOfTurnoverGoods" | translate }}:
            </div>
            <div class="column-value">
              {{ invoice.dateOfTurnover | date : "dd.MM.yyyy" }}
            </div>
          </div>
        </div>
        <div class="invoice-title">
          <div class="title">
            <ng-container [ngSwitch]="invoice.type">
              <span *ngSwitchCase="'ADVANCE_INVOICE'"
                >{{ "invoiceAdvanceNumberTitle" | translate }}:</span
              >
              <span *ngSwitchCase="'FINAL'"
                >{{ "invoiceFinalNumberTitle" | translate }}:</span
              >
              <span *ngSwitchCase="'CASH'"
                >{{ "invoiceCashNumberTitle" | translate }}:</span
              >
              <span *ngSwitchCase="'PRE_INVOICE'"
                >{{ "invoicePreNumberTitle" | translate }}:</span
              >
              <span *ngSwitchDefault
                >{{ "invoiceNumberTitle" | translate }}:</span
              >
            </ng-container>
          </div>
          <div class="number">
            {{ invoice.number }}
          </div>
        </div>
      </div>
      <div class="column-container-buyer">
        <div class="row">
          <div class="wrapper">
            <div class="line">{{ invoice.buyer.name }}</div>
            <div class="line">{{ invoice.buyer.address }}</div>
            <div class="line">
              {{ invoice.buyer.city?.zipCode + " " + invoice.buyer.city?.name }}
            </div>
            <div
              class="line"
              *ngIf="isForeignCountry(invoice.buyer.city?.country?.description)"
            >
              {{ invoice.buyer.city?.country?.description }}
            </div>
          </div>
        </div>
        <div class="pib">
          PIB: {{ invoice.buyer.pib }}, Matični broj:
          {{ invoice.buyer.maticalNumber }}
        </div>
      </div>
    </div>
    <table [style]="{ 'border-collapse': 'collapse' }" class="table">
      <tr>
        <th>{{ "ordinalNumber" | translate }}:</th>
        <th class="right">
          {{ "description" | translate }}
        </th>
        <th class="right">{{ "uomShort" | translate }}</th>
        <th class="right">{{ "quantity" | translate }}</th>
        <th class="right">{{ "price" | translate }}</th>
        <th class="right">{{ "invoiceNetPrice" | translate }}:</th>
        <th class="right">{{ "rateOfVAT" | translate }}:</th>
        <th class="right">{{ "invoiceVatAmount" | translate }}:</th>
        <th class="right">{{ "invoiceGrossPrice" | translate }}:</th>
      </tr>
      <tr *ngFor="let item of invoice.invoiceItems; let i = index">
        <td class="countNumber center">{{ i + 1 }}</td>
        <td class="description justify">{{ item.description }}</td>
        <td class="uom center">
          {{ getUOMDisplayValue(item.uom) | translate }}
        </td>
        <td class="quantity right">
          {{ item.quantity | number : "1.2-2" : "de" }}
        </td>
        <td class="unitPrice right">
          {{ item.pricePerUnit | number : "1.2-2" : "de" }}
        </td>
        <td class="netPrice right">
          {{ item.netPrice | number : "1.2-2" : "de" }}
        </td>
        <td class="vatRate center">{{ item.vatRate }}%</td>
        <td class="vatAmount right">
          {{ item.vatAmount | number : "1.2-2" : "de" }}
        </td>
        <td class="grossPrice right">
          {{ item.grossPrice | number : "1.2-2" : "de" }}
        </td>
      </tr>
      <tr>
        <td colspan="7" class="right" style="border: none">
          {{ "invoiceNetPriceAllCaps" | translate }}:
        </td>
        <td colspan="2" class="right" style="border-left: none">
          {{ invoice.netAmount | number : "1.2-2" : "de" }}
        </td>
      </tr>
      <tr>
        <td colspan="7" class="right" style="border: none">
          {{ "invoiceVatRateAllCaps" | translate }}:
        </td>
        <td colspan="2" class="right" style="border-left: none">
          {{ invoice.vatRate }}%
        </td>
      </tr>
      <tr>
        <td colspan="7" class="right" style="border: none">
          {{ "invoiceVatAmountAllCaps" | translate }}:
        </td>
        <td colspan="2" class="right" style="border: none">
          {{ invoice.vatAmount | number : "1.2-2" : "de" }}
        </td>
      </tr>
      <tr>
        <td colspan="4" style="border: none"></td>
        <td
          colspan="3"
          style="
            border-left: none;
            border-right: none;
            border-top: 3px double;
            border-top-style: double;
            border-bottom: none;
          "
          class="bold right"
        >
          {{ "invoiceGrossPrice" | translate }}:
        </td>
        <td
          colspan="2"
          class="right bold"
          style="
            border-left: none;
            border-top: 3px double;
            border-top-style: double;
          "
        >
          <ng-container
            *ngIf="invoice.type === 'FOREIGN' && invoice.currency"
            >{{ invoice.currency }}</ng-container
          >
          {{ invoice.grossAmount | number : "1.2-2" : "de" }}
        </td>
      </tr>
      <ng-container *ngIf="invoice.advanceInvoiceOid">
        <tr>
          <td colspan="7" class="bold right" style="border: none">
            {{ "advancePayment" | translate }}:
          </td>
          <td colspan="2" class="bold right" style="border-left: none">
            {{ invoice.advancePayAmount | number : "1.2-2" : "de" }}
          </td>
        </tr>
        <tr>
          <td colspan="7" class="bold right" style="border: none">
            {{ "forPay" | translate }}:
          </td>
          <td colspan="2" class="bold right" style="border-left: none">
            {{
              invoice.grossAmount - invoice.advancePayAmount
                | number : "1.2-2" : "de"
            }}
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="complaints">
      {{
        settings?.invoiceComplaints ||
          "Reklamacije se uvažavaju u roku od 8 dana od dana prijema robe. Za eventualne sporove nadležan je privredni Sud u Novom Sadu."
      }}
    </div>
    <div class="cash-number" *ngIf="invoice.numberOfCashBill">
      {{ "numberOfVatBill" | translate }}: {{ invoice.numberOfCashBill }}
    </div>
    <div class="note" *ngIf="invoice.comment">
      <div class="title">{{ "note" | translate }}: {{ invoice.comment }}</div>
      <div class="description"></div>
    </div>
    <div class="notes">
      <div class="grid-container">
        <ng-container *ngFor="let note of invoice.notes">
          <div class="grid-item bold align-right">{{ note.name }}</div>
          <div class="grid-item bold">{{ note.description }}</div>
        </ng-container>
      </div>
    </div>
    <div class="signature">
      <div class="signature-container">
        <div class="title">{{ "goodsInvoiceGiveBy" | translate }}:</div>
        <div class="description"></div>
      </div>
      <div class="signature-container">
        <div class="title">{{ "placeForSign" | translate }}:</div>
        <div class="description"></div>
      </div>
      <div class="signature-container">
        <div class="title">{{ "goodsTakenBy" | translate }}:</div>
        <div class="description"></div>
      </div>
    </div>
  </div>
</div>
