.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    display: flex;

    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        height: 80px;
        width: 200px;
      }
    }

    .heading {
      display: flex;
      flex-direction: column;
      padding: 20px;
      font-size: 0.9em;
      text-align: center;
      line-height: 1.2;
    }
  }

  .company-description {
    border-bottom: 4px solid var(--color-black);
  }

  .body-content {
    .heading {
      display: flex;
      justify-content: space-between;

      .column-container {
        display: flex;
        .column {
          padding: 10px;

          .key {
            text-align: end;
          }

          .value {
            font-weight: 600;
            border-bottom: 1px solid var(--color-black);
          }
        }
      }
    }

    .signature {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: space-between;

      .signature-container {
        display: flex;
        flex-direction: column;

        .title {
          margin-bottom: 20px;
          text-align: center;
        }

        .description {
          width: 200px;
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
  }
}

.bold {
  font-weight: 600;
}

// .container {
//   display: flex;
//   flex-direction: column;

//   .heading {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-bottom: 50px;

//     .main {
//       font-size: 30px;
//       font-weight: 600;
//       margin-bottom: 10px;
//     }

//     .sub-heading {
//       font-size: 20px;
//       font-weight: 400;
//     }
//   }

//   .content {
//     display: flex;
//     flex-direction: column;
//     font-size: 16px;

//     .title {
//       display: flex;
//       justify-content: space-between;

//       .date-place {}

//       .buyer {
//         display: flex;
//         align-items: center;
//         max-width: 300px;
//         flex-direction: column;
//         border: 1px solid black;
//         background-color: var(--color-main-light);
//         font-weight: 600;
//         font-size: 18px;
//       }
//     }

//     .middle-part {
//       display: flex;
//       flex-grow: 1;
//       justify-content: space-between;

//       .left {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//         .invoice-number {
//           margin-bottom: 20px;
//           font-weight: 600;
//         }
//       }

//       .right {
//         padding: 10px 0;
//       }
//     }

//     .items-title {
//       font-weight: 600;
//     }

//     .items-content {
//       width: 100%;

//       .grid-container {
//         display: grid;
//         grid-template-columns: min-content auto auto min-content;

//         .grid-item {
//           display: flex;
//           align-items: center;
//           border: 1px solid black;

//           &.span-first-two-column {
//             grid-column: 1 / span 2;
//           }

//           &.span-second-third-column {
//             grid-column: 2 / span 2;
//           }

//           &.no-left-border {
//             border-left: none;
//           }

//           &.no-bottom-border {
//             border-bottom: none;
//           }

//           &.no-top-border {
//             border-top: none;
//           }

//           &.header {
//             font-weight: 600;
//             text-align: center;
//           }

//           &.align-center {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//           }

//           &.align-right {
//             display: flex;
//             align-items: center;
//             justify-content: flex-end;
//           }

//           &.additional-padding {
//             padding: 10px;
//           }

//           &.background-color {
//             background-color: var(--color-main-light);
//           }

//           &.maturity {
//             font-style: italic;
//           }

//           &.bold {
//             font-weight: 600;
//           }
//         }
//       }
//     }

//     .addition {
//       padding: 20px 0;
//     }

//     .paying-description {
//       .paying-title {
//         padding-bottom: 20px;
//       }

//       .paying-data {
//         font-weight: 600;
//         padding-left: 50px;
//       }

//       .paying-data-company-data {
//         padding-left: 50px;
//         padding-top: 20px;
//       }
//     }

//     .signing-part {
//       .greetings {
//         padding: 20px 0;
//       }

//       .company-name {
//         //
//       }

//       .line {
//         padding-top: 20px;
//       }
//     }
//   }

//   .footer {
//     display: flex;
//     width: 100%;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     padding-top: 30px;
//   }
// }
