<div class="container" *ngIf="invoice">
  <div class="header">
    <div class="logo">
      <img src="{{ 'assets/images/company_logo.PNG' }}" />
    </div>
    <div class="heading">
      <div class="title bold">
        {{ settings?.invoiceCompanyName || "STAKLO RAM PLUS s.z.t.r." }}
      </div>
      <div class="title">
        {{ settings?.invoiceCompanyStreet || "Žarka Zrenjanina 70" }}
      </div>
      <div class="title">
        {{ settings?.invoiceZipCodeCity || "21400 Bačka Palanka" }}
      </div>
      <div class="title">
        {{ settings?.invoiceContactsPhoneFax || "tel-fax: +381 21 60 44 182" }}
      </div>
      <div class="title">
        {{ "mail: " + settings?.companyEmail || "stakloramplus@hallsys.net" }}
      </div>
      <div class="title bold">
        {{ settings?.companyWebsite || "www.stakloram.com" }}
      </div>
    </div>
  </div>
  <div class="company-description">
    <span>{{
      settings?.invoiceCompanyDescription ||
        "Šifra del.: 2312; MB: 62199130; PIB: 105509737;"
    }}</span>
    <span class="bold">{{
      " " + settings?.invoiceBankAccounts ||
        "Tekući račun: 310-16916-02 NLB, 330-11001154-04 Credit Agricole"
    }}</span>
  </div>
  <div class="body-content">
    <div class="heading">
      <div class="column-container">
        <div class="column-wrapper">
          <div class="row">
            <div class="column-key">{{ "placeOfInvoice" | translate }}:</div>
            <div class="column-value">{{ invoice.placeOfIssue }}</div>
          </div>
          <div class="row">
            <div class="column-key">{{ "dateOfInvoice" | translate }}:</div>
            <div class="column-value">
              {{ invoice.dateOfCreate | date: "dd-MM-yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="column-key">{{ "methodOfPayment" | translate }}:</div>
            <div class="column-value">{{ invoice.methodOfPayment }}</div>
          </div>
          <div class="row">
            <div class="column-key">{{ "maturityDate" | translate }}:</div>
            <div class="column-value">
              {{ invoice.dateOfMaturity | date: "dd-MM-yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="column-key">
              {{ "dateOfTurnoverGoods" | translate }}:
            </div>
            <div class="column-value">
              {{ invoice.dateOfTurnover | date: "dd-MM-yyyy" }}
            </div>
          </div>
        </div>
        <div class="invoice-title">
          <div class="title">{{ "invoiceNumberTitle" | translate }}:</div>
          <div class="number">
            {{ invoice.number }}
          </div>
        </div>
      </div>
      <div class="column-container-buyer">
        <div class="row">
          <div class="wrapper">
            <div class="line">{{ invoice.buyer.name }}</div>
            <div class="line">{{ invoice.buyer.address }}</div>
            <div class="line">
              {{ invoice.buyer.city?.zipCode + " " + invoice.buyer.city?.name }}
            </div>
          </div>
        </div>
        <div class="pib">
          PIB: {{ invoice.buyer.pib }}, Matični broj:
          {{ invoice.buyer.maticalNumber }}
        </div>
      </div>
    </div>
    <table [style]="{ 'border-collapse': 'collapse' }" class="table">
      <tr>
        <th>{{ "ordinalNumber" | translate }}:</th>
        <th class="right">
          {{ "description" | translate }}
        </th>
        <th class="right">{{ "uomShort" | translate }}</th>
        <th class="right">{{ "quantity" | translate }}</th>
        <th class="right">{{ "price" | translate }}</th>
        <th class="right">{{ "invoiceNetPrice" | translate }}:</th>
        <th class="right">{{ "rateOfVAT" | translate }}:</th>
        <th class="right">{{ "invoiceVatAmount" | translate }}:</th>
        <th class="right">{{ "invoiceGrossPrice" | translate }}:</th>
      </tr>
      <tr *ngFor="let item of invoice.invoiceItems; let i = index">
        <td class="countNumber center">{{ i + 1 }}</td>
        <td class="description justify">{{ item.description }}</td>
        <td class="uom center">{{ item.uom }}</td>
        <td class="quantity right">
          {{ item.quantity | number: "1.2-2":"fr" }}
        </td>
        <td class="unitPrice right">{{ "unitPrice" }}</td>
        <td class="netPrice right">
          {{ item.netPrice | number: "1.2-2":"fr" }}
        </td>
        <td class="vatRate center">{{ item.vatRate }}%</td>
        <td class="vatAmount right">
          {{ item.vatAmount | number: "1.2-2":"fr" }}
        </td>
        <td class="grossPrice right">
          {{ item.grossPrice | number: "1.2-2":"fr" }}
        </td>
      </tr>
      <tr>
        <td colspan="7" class="right" style="border: none">
          {{ "invoiceNetPriceAllCaps" | translate }}
        </td>
        <td colspan="2" class="right" style="border-left: none">
          {{ invoice.netAmount | number: "1.2-2":"fr" }}
        </td>
      </tr>
      <tr>
        <td colspan="7" class="right" style="border: none">
          {{ "invoiceVatRateAllCaps" | translate }}
        </td>
        <td colspan="2" class="right" style="border-left: none">
          {{ invoice.vatRate }}%
        </td>
      </tr>
      <tr>
        <td colspan="7" class="right" style="border: none">
          {{ "invoiceVatAmountAllCaps" | translate }}
        </td>
        <td colspan="2" class="right" style="border: none">
          {{ invoice.vatAmount | number: "1.2-2":"fr" }}
        </td>
      </tr>
      <tr>
        <td colspan="4" style="border: none"></td>
        <td
          colspan="3"
          style="
            border-left: none;
            border-right: none;
            border-top: 3px double;
            border-top-style: double;
          "
          class="bold right"
        >
          {{ "invoiceGrossPrice" | translate }}:
        </td>
        <td
          colspan="2"
          class="right bold"
          style="
            border-left: none;
            border-top: 3px double;
            border-top-style: double;
          "
        >
          {{ invoice.grossAmount | number: "1.2-2":"fr" }}
        </td>
      </tr>
    </table>
    <div class="complaints">
      {{
        settings?.invoiceComplaints ||
          "Reklamacije se uvažavaju u roku od 8 dana od dana prijema robe. Za eventualne sporove nadležan je privredni Sud u Novom Sadu."
      }}
    </div>
    <div class="note">
      <div class="title">{{ "note" | translate }}:{{ invoice.comment }}</div>
      <div class="description"></div>
    </div>
    <div class="signature">
      <div class="signature-container">
        <div class="title">{{ "goodsInvoiceGiveBy" | translate }}:</div>
        <div class="description"></div>
      </div>
      <div class="signature-container">
        <div class="title">{{ "placeForSign" | translate }}:</div>
        <div class="description"></div>
      </div>
      <div class="signature-container">
        <div class="title">{{ "goodsTakenBy" | translate }}:</div>
        <div class="description"></div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container" *ngIf="invoice">
  <div class="heading">
    <div class="main">{{ placeholders.headerLine1 }}</div>
    <div class="sub-heading">{{ placeholders.headerLine2 }}</div>
  </div>
  <div class="content">
    <div class="title">
      <div class="date-place">
        <div class="date">
          {{ placeholders.dateOfInvoice
          }}{{ invoice.dateOfCreate | date: "dd.MM.yyyy" }}
        </div>
        <div class="place">
          {{ placeholders.placeOfInvoice }}{{ invoice.placeOfIssue }}
        </div>
      </div>
      <div class="buyer">
        <div class="name">{{ invoice.buyer.name }}</div>
        <div class="address">{{ invoice.buyer.address }}</div>
        <div class="city">
          {{ invoice.buyer.city?.zipCode }}&nbsp;{{ invoice.buyer.city?.name }}
        </div>
        <div class="numbers" *ngIf="invoice.buyer.type !== 'PERSON'">
          {{ placeholders.pib }}{{ invoice.buyer.pib }},&nbsp;{{
            placeholders.mb
          }}{{ invoice.buyer.maticalNumber }}
        </div>
      </div>
    </div>
    <div class="middle-part">
      <div class="left">
        <div class="invoice-number">
          <ng-container [ngSwitch]="invoice.type">
            <span *ngSwitchCase="'ADVANCE_INVOICE'">{{
              placeholders.invoiceAdvanceNumber
            }}</span>
            <span *ngSwitchCase="'CASH'">{{
              placeholders.invoiceCashNumber
            }}</span>
            <span *ngSwitchCase="'PRE_INVOICE'">{{
              placeholders.invoicePreNumber
            }}</span>
            <span *ngSwitchDefault>{{ placeholders.invoiceNumber }}</span>
          </ng-container>
          {{ invoice.number }}
        </div>
        <div class="place-of-issue">
          {{ placeholders.placeOfTurnover }} {{ invoice.placeOfIssue }}
        </div>
        <div class="date-of-issue">
          {{ placeholders.dateOfTurnover }}
          {{ invoice.dateOfTurnover | date: "dd.MM.yyyy" }}
        </div>
      </div>
      <div class="right">
        <qrcode
          [qrdata]="getQrCodeDataForInvoice(invoice)"
          [width]="150"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </div>
    </div>
    <div class="items-title">{{ placeholders.legalServices }}</div>
    <div class="items-content">
      <div class="grid-container">
        <div
          class="grid-item header align-center additional-padding background-color"
        >
          {{ placeholders.counter }}
        </div>
        <div
          class="grid-item header align-center additional-padding background-color span-second-third-column"
        >
          {{ placeholders.serviceDescription }}
        </div>
        <div
          class="grid-item header align-center additional-padding background-color"
        >
          {{ placeholders.amountRSD }}
        </div>
        <ng-container *ngFor="let item of invoice.invoiceItems; index as index">
          <div class="grid-item align-center additional-padding">
            {{ index + 1 }}
          </div>
          <div class="grid-item span-second-third-column">
            {{ item.description }}
          </div>
          <div class="grid-item align-right additional-padding">
            {{ item.netPrice | number: "1.2-2" }}
          </div>
        </ng-container>
        <div
          class="grid-item span-first-two-column no-left-border no-bottom-border"
        ></div>
        <ng-container
          *ngFor="let invoiceItem of invoiceItemsVatRates; let ind = index"
        >
          <div class="grid-item additional-padding">
            {{ placeholders.amount }}
          </div>
          <div class="grid-item align-right additional-padding">
            {{ invoiceItem.netAmount | number: "1.2-2" }}
          </div>
          <ng-container *ngIf="ind === 0">
            <div
              class="grid-item maturity span-first-two-column no-left-border no-bottom-border no-top-border"
            >
              {{
                placeholders.deadline +
                  (getInvoiceDateOfMaturity(invoice) > 0
                    ? getInvoiceDateOfMaturity(invoice) +
                      (getInvoiceDateOfMaturity(invoice) === 1
                        ? placeholders.dayFromInvoice
                        : placeholders.daysFromInvoice)
                    : placeholders.byInvoiceCome)
              }}
            </div>
          </ng-container>
          <ng-container *ngIf="ind > 0">
            <div
              class="grid-item maturity span-first-two-column no-left-border no-bottom-border no-top-border"
            ></div>
          </ng-container>
          <div class="grid-item additional-padding">
            {{ placeholders.vat }} {{ invoiceItem.vatRate }}{{ "%" }}
          </div>
          <div class="grid-item align-right additional-padding">
            {{ invoiceItem.vatAmount | number: "1.2-2" }}
          </div>
          <div
            class="grid-item span-first-two-column no-left-border no-bottom-border no-top-border"
          ></div>
        </ng-container>
        <div
          class="grid-item span-first-two-column no-left-border no-bottom-border no-top-border"
        ></div>
        <div class="grid-item bold additional-padding">
          {{ placeholders.forPay }}
        </div>
        <div
          class="grid-item align-right background-color additional-padding bold"
        >
          {{ invoice.grossAmount | number: "1.2-2" }}
        </div>
      </div>
    </div>
    <div class="addition">
      {{ placeholders.noteAboutTax }}
    </div>
    <div class="paying-description">
      <div class="paying-title">{{ placeholders.incomeDoneOnName }}</div>
    </div>

    <div class="signing-part">
      <div class="greetings">{{ placeholders.greetings }}</div>
      <div class="company-name">
        {{ "" }}
      </div>
      <div class="line">____________________________</div>
    </div>
  </div>
  <div class="footer">{{ "" }}</div>
</div> -->
