<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <app-button
      [text]="'createCity' | translate"
      (clickEvent)="createCity()"
      class="create-button"
      [disabled]="!hasPrivilege('CITY_CREATE')"
    ></app-button>
  </div>

  <div
    class="grid-container standard-grid-table"
    [componentLoading]="(isLoading | async) || false"
    scrollToBottom
    (bottomReached)="bottomReachedHandler()"
  >
    <div class="grid-item header sticky">{{ "zipCode" | translate }}</div>
    <div class="grid-item header sticky">{{ "name" | translate }}</div>
    <div class="grid-item header sticky">{{ "country" | translate }}</div>
    <div class="grid-item header sticky">{{ "edit" | translate }}</div>
    <div
      class="no-results"
      *ngIf="(totalEntitiesLength | async) === 0 && !(isLoading | async)"
    >
      {{ "noResults" | translate }}
    </div>
    <div class="spinner" *ngIf="isLoading | async">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngFor="let item of entities | async">
      <div class="grid-item">{{ item.zipCode }}</div>
      <div class="grid-item">{{ item.name }}</div>
      <div class="grid-item">{{ item.country?.description || "" }}</div>
      <div class="grid-item">
        <app-button
          [text]="'edit' | translate"
          (clickEvent)="editCity(item.oid)"
        ></app-button>
      </div>
    </ng-container>
  </div>
</div>
