<div class="wrapper">
  <div class="container">
    <div class="title">
      <h3>
        {{ (isEdit ? "editInvoice" : "createInvoice") | translate }}
        <span *ngIf="preInvoice">
          - {{ "madeFromPreinvoiceNr" | translate }}:
          {{ preInvoice.number }}</span
        >
        <span *ngIf="advanceInvoice">
          - {{ "madeFromAdvanceinvoiceNr" | translate }}:
          {{ advanceInvoice.number }}</span
        >
      </h3>
    </div>
    <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "type" | translate }}
          </mat-label>
          <mat-select
            formControlName="type"
            (valueChange)="invoiceTypeChanged($event)"
            [disabled]="isEdit"
          >
            <mat-option *ngFor="let item of typesOptions" [value]="item.value">
              {{ item.displayName | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="numberOfCashBillControl">
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "numberOfCashBill" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="numberOfCashBill"
            (keypress)="onKeypress($event, 'numberOfCashBill')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "currency" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="currency"
            (keypress)="onKeypress($event, 'currency')"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "number" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="number"
            (keypress)="onKeypress($event, 'number')"
          />
        </mat-form-field>
        <app-button
          [isTransparentMode]="true"
          [text]="'createNumber' | translate"
          (clickEvent)="setInvoiceNumber()"
          class="bottom-padding"
        ></app-button>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "buyer" | translate }}
          </mat-label>
          <mat-select
            formControlName="buyer"
            [disabled]="isEdit"
            (valueChange)="buyerChanged()"
            [compareWith]="compareFn"
            (infiniteScroll)="bottomReachedHandlerBuyers()"
            msInfiniteScroll
            (selectionChange)="selectBuyer($event)"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="searchControl"
                placeholderLabel="{{ 'searchFor' | translate }}"
                noEntriesFoundLabel="{{ 'noResults' | translate }}"
                (ngModelChange)="searchHandler($event)"
                [hideClearSearchButton]="true"
                [clearSearchInput]="true"
                [searching]="(isLoading | async) || false"
                [disableScrollToActiveOnOptionsChanged]="true"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngIf="selectedBuyer" [value]="selectedBuyer">{{
              selectedBuyer.name
            }}</mat-option>
            <ng-container *ngFor="let buyer of buyersEntities | async">
              <mat-option
                [value]="buyer"
                *ngIf="!(selectedBuyer?.oid === buyer.oid)"
              >
                {{ buyer.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <app-button
          [iconName]="'plus'"
          (clickEvent)="createBuyer()"
          class="create-buyer-button"
          *ngIf="!isEdit"
        ></app-button>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "dateOfCreate" | translate }}
          </mat-label>
          <input
            type="date"
            matInput
            formControlName="dateOfCreate"
            (change)="consolidateAllDates()"
            (keypress)="onKeypress($event, 'dateOfCreate')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "dateOfTurnover" | translate }}
          </mat-label>
          <input
            type="date"
            matInput
            formControlName="dateOfTurnover"
            (keypress)="onKeypress($event, 'dateOfTurnover')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "dateOfMaturity" | translate }}
          </mat-label>
          <input
            type="date"
            matInput
            formControlName="dateOfMaturity"
            (keypress)="onKeypress($event, 'dateOfMaturity')"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "country" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="country"
            (keypress)="onKeypress($event, 'country')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "placeOfIssue" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="placeOfIssue"
            (keypress)="onKeypress($event, 'placeOfIssue')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "methodOfPayment" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="methodOfPayment"
            (keypress)="onKeypress($event, 'methodOfPayment')"
          />
        </mat-form-field>
      </div>
      <div
        formArrayName="invoiceItems"
        class="invoice-items"
        *ngIf="isBuyerSelected"
      >
        <div
          *ngFor="let comp of invoiceItemsFormArr.controls; let i = index"
          class="invoice-item"
        >
          <div [formGroupName]="i" class="form-group">
            <mat-form-field class="full-width">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "description" | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                formControlName="description"
                #trigger="matAutocompleteTrigger"
                (keydown.enter)="trigger.closePanel()"
                [matAutocomplete]="auto"
                (keypress)="onKeypress($event, 'description', i)"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of getFilteredOptions(i) | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "uom" | translate }}
              </mat-label>
              <mat-select
                formControlName="uom"
                (openedChange)="openedToggleOnUomSelect($event, i)"
              >
                <mat-option
                  *ngFor="let item of uomOptions"
                  [value]="item.value"
                >
                  {{ item.displayName | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "quantity" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                (keypress)="onKeypress($event, 'quantity', i)"
                formControlName="quantity"
                (change)="calculateInvoiceItemAmount(i, 'quantity')"
                (focusout)="calculateInvoiceAmount(); setAllInvoiceAmounts()"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "pricePerUnit" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                (keypress)="onKeypress($event, 'pricePerUnit', i)"
                formControlName="pricePerUnit"
                (change)="calculateInvoiceItemAmount(i, 'pricePerUnit')"
                (focusout)="calculateInvoiceAmount(); setAllInvoiceAmounts()"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "netPrice" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                (keypress)="onKeypress($event, 'netPrice', i)"
                formControlName="netPrice"
                (change)="calculateInvoiceItemAmount(i, 'netPrice')"
                (focusout)="calculateInvoiceAmount(); setAllInvoiceAmounts()"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "vatRate" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                (keypress)="onKeypress($event, 'vatRate', i)"
                formControlName="vatRate"
                (change)="calculateInvoiceItemAmount(i, 'vatRate')"
                (focusout)="calculateInvoiceAmount(); setAllInvoiceAmounts()"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "vatAmount" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                (keypress)="onKeypress($event, 'vatAmount', i)"
                formControlName="vatAmount"
                (change)="calculateInvoiceItemAmount(i, 'vatAmount')"
                (focusout)="calculateInvoiceAmount(); setAllInvoiceAmounts()"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "grossPrice" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                (keypress)="onKeypress($event, 'grossPrice', i)"
                formControlName="grossPrice"
                (change)="calculateInvoiceItemAmount(i, 'grossPrice')"
                (focusout)="calculateInvoiceAmount(); setAllInvoiceAmounts()"
              />
            </mat-form-field>
            <mat-form-field *ngIf="comp.value.workOrderItems.length > 0">
              <mat-label>{{ "workOrder" | translate }}</mat-label>
              <mat-select
                formArrayName="workOrderItems"
                multiple
                [value]="comp.value.workOrderItems"
              >
                <mat-option
                  *ngFor="
                    let woi of getWorkOrderItemsFormArr(i).controls;
                    let j = index
                  "
                  [value]="woi.value"
                  (click)="removeWorkOrderItemFromInvoiceItem(i, j)"
                  >{{
                    woi.value.description +
                      ", " +
                      woi.value.sumQuantity +
                      " " +
                      (getUOMDisplayValue(woi.value.uom) | translate)
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <app-button
              [text]="'import' | translate"
              (clickEvent)="importWorkOrderItems(i)"
              class="additional-button"
            ></app-button>
            <app-button
              [iconName]="'minus'"
              (clickEvent)="removeItem(i)"
              [isTransparentMode]="true"
              class="additional-button"
            ></app-button>
          </div>
        </div>
      </div>

      <div class="buttons">
        <app-button
          [iconName]="'plus'"
          [text]="'addNewItem' | translate"
          (clickEvent)="addNewItem()"
          class="big-button"
          [disabled]="!isBuyerSelected"
        ></app-button>

        <app-button
          [iconName]="'plus'"
          [text]="'autoImport' | translate"
          (clickEvent)="autoImport()"
          class="big-button"
          [isTransparentMode]="true"
          [disabled]="!isBuyerSelected"
        ></app-button>
      </div>

      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "comment" | translate }}
        </mat-label>
        <textarea
          matInput
          formControlName="comment"
          (keypress)="onKeypress($event, 'comment')"
          rows="3"
        ></textarea>
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "netAmount" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="netAmount"
            [readonly]="true"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "vatRate" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="vatRate"
            [readonly]="true"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "vatAmount" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="vatAmount"
            [readonly]="true"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "grossAmount" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="grossAmount"
            [readonly]="true"
          />
        </mat-form-field>
      </div>
      <div class="notes" *ngIf="notesFormArr.controls" formArrayName="notes">
        <div
          class="row"
          *ngFor="let note of notesFormArr.controls; let i = index"
        >
          <div [formGroupName]="i" class="form-group">
            <mat-form-field>
              <mat-label>{{ "field" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "value" | translate }}</mat-label>
              <input type="text" matInput formControlName="description" />
            </mat-form-field>
          </div>
          <app-button
            [iconName]="'minus'"
            (clickEvent)="removeNote(i)"
            [isTransparentMode]="true"
            class="additional-button"
          ></app-button>
        </div>
        <app-button
          [text]="'addNote' | translate"
          (clickEvent)="addNote()"
        ></app-button>
      </div>
    </form>
  </div>

  <div class="button-section" *ngIf="formGroup">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      (clickEvent)="cancel()"
      class="cancel"
    ></app-button>
    <app-button
      [text]="'save' | translate"
      [disabled]="!formGroup.dirty || formGroup.invalid"
      class="update"
      (clickEvent)="handleSubmitButton()"
    ></app-button>
  </div>
</div>
