:host {
  display: flex;
  height: calc(80vh);
}

.container {
  height: calc(100%);
  min-width: 50vw;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-grow: 0;
    border-bottom: 2px dotted var(--color-main-light);
  }

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    .table {
      border-collapse: collapse;
      width: 100%;

      table {
        tr {
          th,
          td {
            // border: 1px solid red;
            padding: 0 8px;
          }
        }
      }
    }
  }

  .button-section {
    display: flex;
    flex-grow: 0;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px dotted var(--color-main-light);
  }
}

.different {
  background-color: red;
  font-weight: 600;
  color: white;
}
