<div class="container">
  <div class="title">
    <h3>
      {{ "historyView" | translate }}
    </h3>
  </div>
  <div>{{ "madeBy" | translate }}: {{ history?.user?.displayName }}</div>
  <div>
    {{ "type" | translate }}:
    {{ history?.action || "" | lowercase | translate }}
  </div>
  <div>{{ "date" | translate }}: {{ history?.time | date: "dd.MM.yyyy" }}</div>
  <div>{{ "time" | translate }}: {{ history?.time | date: "hh:ss" }}</div>
  <div class="content">
    <div class="table">
      <table>
        <tr>
          <th *ngFor="let header of tableHeader">{{ header.value }}</th>
        </tr>
        <tr *ngFor="let row of tableRow">
          <ng-container *ngFor="let field of row.fields; let i = index">
            <ng-container [ngSwitch]="field.dataType">
              <td
                *ngSwitchCase="'string'"
                [ngClass]="{
                  different:
                    i > 1 && row.fields[i - 1].value != row.fields[i].value
                }"
              >
                {{ field.value }}
              </td>
              <td
                *ngSwitchCase="'date'"
                [ngClass]="{
                  different:
                    i > 1 && row.fields[i - 1].value != row.fields[i].value
                }"
              >
                {{ field.value | date: "dd.MM.yyyy" }}
              </td>
              <td
                *ngSwitchCase="'time'"
                [ngClass]="{
                  different:
                    i > 1 && row.fields[i - 1].value != row.fields[i].value
                }"
              >
                {{ field.value | date: "hh:ss" }}
              </td>
              <td
                *ngSwitchCase="'number'"
                [ngClass]="{
                  different:
                    i > 1 && row.fields[i - 1].value != row.fields[i].value
                }"
              >
                {{ field.value }}
              </td>
              <td
                *ngSwitchCase="'numberDecimal'"
                [ngClass]="{
                  different: i > 1 && row.fields[i - 1].value !== field.value
                }"
              >
                {{ field.value | number: "1.2-2":"de" }}
              </td>
              <td
                *ngSwitchCase="'boolean'"
                [ngClass]="{
                  different: i > 1 && row.fields[i - 1].value !== field.value
                }"
              >
                {{ (field.value ? "yes" : "no") | translate }}
              </td>
              <td *ngSwitchDefault></td>
            </ng-container>
          </ng-container>
        </tr>
      </table>
    </div>
    <div class="no-results" *ngIf="!history && !isLoading">
      {{ "noResults" | translate }}
    </div>
    <div class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="button-section">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      (clickEvent)="exit()"
      class="cancel"
    ></app-button>
  </div>
</div>
