<div class="container">
  <div class="title">
    <h3>
      {{ "passwordReset" | translate }}
    </h3>
  </div>
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <div class="row">
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "newPassword" | translate }}
        </mat-label>
        <input matInput formControlName="newPassword" />
      </mat-form-field>
    </div>
    <div class="button-section">
      <app-button
        [text]="'cancel' | translate"
        color="secondary"
        (clickEvent)="cancel()"
        class="cancel"
      ></app-button>
      <app-button
        [text]="'save' | translate"
        [disabled]="!formGroup.dirty || formGroup.invalid"
        class="update"
        (clickEvent)="handleSubmitButton()"
      ></app-button>
    </div>
  </form>
</div>
