mat-dialog-content {
  padding: 10px;
  border-bottom: 1px solid var(--attributes-border-color, #efeff3);
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 150px);
  max-height: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  // min-height: 38px;
  // padding-top: 20px;
  // padding-bottom: 0px;
  // flex-shrink: 0;
  // padding: 30px;

  me-button {
    // margin-left: 20px;
  }
}

.spacer {
  height: 0;
  flex: 1 1;
}
