<div class="container">
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <h1>{{ "companyData" | translate }}</h1>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "companyEmail" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="companyEmail" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "companyWebsite" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="companyWebsite" />
    </mat-form-field>
    <h1>{{ "invoice" | translate }}</h1>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "methodOfPayment" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceMethodOfPayment" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "placeOfIssue" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoicePlaceOfIssue" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "currency" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceCurrency" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "country" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceCountry" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "invoiceVatRate" | translate }}
      </mat-label>
      <input type="text" appDecimal matInput formControlName="invoiceVatRate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "companyName" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceCompanyName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "companyStreet" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceCompanyStreet" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "zipCodeCity" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceZipCodeCity" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "contactsPhoneFax" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceContactsPhoneFax" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "companyDescription" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceCompanyDescription" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "bankAccounts" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceBankAccounts" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "complaints" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceComplaints" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "invoiceForeignNote" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="invoiceForeignNote" />
    </mat-form-field>
    <h1>{{ "workOrder" | translate }}</h1>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "termoizolacGlassMinArea" | translate }}
      </mat-label>
      <input
        type="text"
        appDecimal
        matInput
        formControlName="termoizolacGlassMinArea"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "constructionMeasureCM" | translate }}
      </mat-label>
      <input
        type="text"
        appDecimal
        matInput
        formControlName="constructionMeasureCM"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ ("workOrder" | translate) + " - " + ("placeOfIssue" | translate) }}
      </mat-label>
      <input type="text" matInput formControlName="workOrderPlaceOfIssue" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{
          ("workOrder" | translate) + " - " + ("companyDescription" | translate)
        }}
      </mat-label>
      <input
        type="text"
        matInput
        formControlName="workOrderCompanyDescription"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{
          ("workOrder" | translate) + " - " + ("headingLine" | translate) + "1"
        }}
      </mat-label>
      <input type="text" matInput formControlName="workOrderHeadingLine1" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{
          ("workOrder" | translate) + " - " + ("headingLine" | translate) + "2"
        }}
      </mat-label>
      <input type="text" matInput formControlName="workOrderHeadingLine2" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{
          ("workOrder" | translate) + " - " + ("headingLine" | translate) + "3"
        }}
      </mat-label>
      <input type="text" matInput formControlName="workOrderHeadingLine3" />
    </mat-form-field>
    <h1>{{ "qrCodeSettings" | translate }}</h1>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "identCode" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodeIdentCode" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "version" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodeVersion" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "signSet" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodeSignSet" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "accountNumber" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodeAccountNumber" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "companyName" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodeCompanyName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "currency" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodeCurrency" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "payingCodePerson" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodePayingCodePerson" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "payingCodeCompany" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodePayingCodeCompany" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "payingPurpose" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="qrCodePayingPurpose" />
    </mat-form-field>
  </form>
  <div class="button-section">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      (clickEvent)="cancel()"
      class="cancel"
    ></app-button>
    <app-button
      [text]="'save' | translate"
      [disabled]="!formGroup?.dirty || formGroup?.invalid || false"
      class="update"
      (clickEvent)="updateSettings()"
    ></app-button>
  </div>
</div>
