.container {
  height: calc(100%);
  width: 100%;
  min-width: 900px;

  .form {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 100px);
    overflow-y: auto;
  }

  .button-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

mat-form-field {
  display: block;
}

.inline {
  display: inline-block;
}

mat-panel-title {
  font-weight: 800;
}
