<div class="container">
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ "companyData" | translate }}</mat-panel-title>
          <mat-panel-description>{{
            "companyDataDescription" | translate
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "companyEmail" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="companyEmail" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "companyWebsite" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="companyWebsite" />
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ "invoice" | translate }}</mat-panel-title>
          <mat-panel-description>{{
            "invoiceDataDescription" | translate
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "methodOfPayment" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceMethodOfPayment"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "methodOfPaymentForCashBill" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceMethodOfPaymentForCashBill"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceTaxFreeText" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceTaxFreeText" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "placeOfIssue" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoicePlaceOfIssue" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "currency" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceCurrency" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "country" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceCountry" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceVatRate" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="invoiceVatRate"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "companyName" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceCompanyName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "companyStreet" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceCompanyStreet" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "zipCodeCity" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceZipCodeCity" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "contactsPhoneFax" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceContactsPhoneFax"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "companyDescription" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceCompanyDescription"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "bankAccounts" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceBankAccounts" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "complaints" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceComplaints" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceForeignNote" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="invoiceForeignNote" />
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{
            "invoiceForeignNote" | translate
          }}</mat-panel-title>
          <mat-panel-description>{{
            "invoiceForeignNoteDescription" | translate
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div formArrayName="invoiceForeignNotes" class="invoice-foreign-notes">
          <div
            *ngFor="
              let comp of invoiceForeignNotesFormArr.controls;
              let j = index
            "
            class="invoice-foreign-note"
          >
            <div [formGroupName]="j" class="form-group">
              <div class="row">
                <mat-form-field>
                  <mat-label
                    [class.mark-required]="true"
                    [class.mark-opt-required]="true"
                  >
                    {{ "key" | translate }}
                  </mat-label>
                  <input type="text" matInput formControlName="key" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label
                    [class.mark-required]="true"
                    [class.mark-opt-required]="true"
                  >
                    {{ "value" | translate }}
                  </mat-label>
                  <input type="text" matInput formControlName="value" />
                </mat-form-field>
                <app-button
                  [iconName]="'minus'"
                  (clickEvent)="removeNote(j)"
                  [isTransparentMode]="true"
                  class="additional-button"
                ></app-button>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ "workOrder" | translate }}</mat-panel-title>
          <mat-panel-description>{{
            "workOrderDescription" | translate
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "termoizolacGlassMinArea" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="termoizolacGlassMinArea"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "constructionMeasureCM" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="constructionMeasureCM"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{
              ("workOrder" | translate) + " - " + ("placeOfIssue" | translate)
            }}
          </mat-label>
          <input type="text" matInput formControlName="workOrderPlaceOfIssue" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{
              ("workOrder" | translate) +
                " - " +
                ("companyDescription" | translate)
            }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="workOrderCompanyDescription"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{
              ("workOrder" | translate) +
                " - " +
                ("headingLine" | translate) +
                "1"
            }}
          </mat-label>
          <input type="text" matInput formControlName="workOrderHeadingLine1" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{
              ("workOrder" | translate) +
                " - " +
                ("headingLine" | translate) +
                "2"
            }}
          </mat-label>
          <input type="text" matInput formControlName="workOrderHeadingLine2" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{
              ("workOrder" | translate) +
                " - " +
                ("headingLine" | translate) +
                "3"
            }}
          </mat-label>
          <input type="text" matInput formControlName="workOrderHeadingLine3" />
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ "qrCodeSettings" | translate }}</mat-panel-title>
          <mat-panel-description>{{
            "qrCodeSettingsDescription" | translate
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "qrCodeShowOnInvoice" | translate }}
          </mat-label>
          <mat-select matSelect formControlName="qrCodeShowOnInvoice">
            <mat-option [value]="true">{{ "yes" | translate }}</mat-option>
            <mat-option [value]="false">{{ "no" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "identCode" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodeIdentCode" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "version" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodeVersion" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "signSet" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodeSignSet" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "accountNumber" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodeAccountNumber" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "companyName" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodeCompanyName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "currency" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodeCurrency" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "payingCodePerson" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="qrCodePayingCodePerson"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "payingCodeCompany" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="qrCodePayingCodeCompany"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "payingPurpose" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="qrCodePayingPurpose" />
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "eInvoiceSettings" | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{ "eInvoiceSettingsDescription" | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "keyAPI" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="keyAPI" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "requestIDcharsNumber" | translate }}
          </mat-label>
          <input
            type="number"
            matInput
            formControlName="requestIDcharsNumber"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "urlImportSalesUbl" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="urlImportSalesUbl" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "customizationID" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="customizationID" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceTypeCodeCommercialInvoice" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceTypeCodeCommercialInvoice"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceTypeCodeAdvanceInvoice" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceTypeCodeAdvanceInvoice"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "documentCurrencyCode" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="documentCurrencyCode" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "schemeID" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="schemeID" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "jbkjsPrefix" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="jbkjsPrefix" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceTaxPeriodByDateOfTurnover" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceTaxPeriodByDateOfTurnover"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceTaxPeriodByDateOfCreate" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceTaxPeriodByDateOfCreate"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceTaxPeriodByDateOfPaying" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceTaxPeriodByDateOfPaying"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerPIB" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerPIB" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerName" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerStreetName" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerStreetName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerCity" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerCity" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerPostalCode" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerPostalCode" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerCountry" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerCountry" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerAccount" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerAccount" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "taxScheme" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="taxScheme" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "taxCountrySign" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="taxCountrySign" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerMaticalNumber" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerMaticalNumber" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "sellerElectronicMail" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="sellerElectronicMail" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "paymentMeansCode" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="paymentMeansCode" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "modelPaymentCode" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="modelPaymentCode" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "invoiceCurrencyEInvoice" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="invoiceCurrencyEInvoice"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "digitsCountForInvoice" | translate }}
          </mat-label>
          <input
            type="number"
            matInput
            formControlName="digitsCountForInvoice"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "digitsCountForTaxInvoice" | translate }}
          </mat-label>
          <input
            type="number"
            matInput
            formControlName="digitsCountForTaxInvoice"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "standardVATRate" | translate }}
          </mat-label>
          <input type="number" matInput formControlName="standardVATRate" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "categoryForStandardVAT" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="categoryForStandardVAT"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "privillegedVATRate" | translate }}
          </mat-label>
          <input type="number" matInput formControlName="privillegedVATRate" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "categoryForPrivillegedVAT" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="categoryForPrivillegedVAT"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "unitCodeForMeter2" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="unitCodeForMeter2" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "unitCodeForMeter" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="unitCodeForMeter" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "unitCodeForHour" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="unitCodeForHour" />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "unitCodeForPieces" | translate }}
          </mat-label>
          <input type="text" matInput formControlName="unitCodeForPieces" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <div class="button-section" *ngIf="formGroup">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      (clickEvent)="cancel()"
      class="cancel"
    ></app-button>
    <app-button
      [text]="'save' | translate"
      [disabled]="
        !formGroup.dirty ||
        formGroup.invalid ||
        false ||
        !hasPrivilege('SETTINGS_MODIFY')
      "
      class="update"
      (clickEvent)="updateSettings()"
    ></app-button>
  </div>
</div>
