<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
  </div>

  <div class="grid-container standard-grid-table">
    <div class="grid-item header sticky">{{ "buyer" | translate }}</div>
    <div class="grid-item header sticky">{{ "state" | translate }}</div>
    <div class="grid-item header sticky">{{ "owed" | translate }}</div>
    <div class="grid-item header sticky">{{ "debt" | translate }}</div>
    <div class="grid-item header sticky">{{ "view" | translate }}</div>
    <ng-container *ngFor="let item of entities">
      <div class="grid-item">{{ item.buyer?.name }}</div>
      <div class="grid-item">{{ item.debtSum | number: "1.2-2":"de" }}</div>
      <div class="grid-item">{{ item.positiveSum | number: "1.2-2":"de" }}</div>
      <div class="grid-item">{{ item.negativeSum | number: "1.2-2":"de" }}</div>
      <div class="grid-item">
        <app-button
          [text]="'view' | translate"
          (clickEvent)="viewDebtor(item)"
        ></app-button>
      </div>
    </ng-container>
  </div>
</div>
