<div class="container">
  <div class="title">
    <h3>
      {{ (isEdit ? "editCountry" : "createCountry") | translate }}
    </h3>
  </div>
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "description" | translate }}
      </mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <div class="button-section">
      <app-button
        [text]="'cancel' | translate"
        color="secondary"
        (clickEvent)="cancel()"
        class="cancel"
      ></app-button>
      <app-button
        [text]="'save' | translate"
        [disabled]="
          isEdit ? !formGroup.dirty || formGroup.invalid : formGroup.invalid
        "
        class="update"
        (clickEvent)="handleSubmitButton()"
      ></app-button>
    </div>
  </form>
</div>
