.item-card {
  display: flex;
  cursor: pointer;
  transition: transform 500ms ease;
  width: 200px;
  height: 200px;
  background-color: var(--color-white);
  position: relative;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 1px solid var(--color-main-light, #bbbbbb);

  width: 150px;
  height: 150px;
  margin: 10px;

  .container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 150px;
    height: 140px;

    .number {
      font-weight: 600;
      margin: 5px 0;
    }

    .status {
      font-weight: 600;
      color: var(--color-main);
    }

    .name {
      text-align: center;
      font-size: 14px;
      overflow: hidden;
    }
  }

  .checkbox {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    margin-top: 10px;

    margin-left: 130px;
  }

  &.selected {
    opacity: 0.7;
  }
}

.item-card:hover {
  transform: scale(1.15);
}
