<div class="item-card" [ngClass]="{ selected: dataModel.selected }">
  <div class="container">
    <div class="number">
      <span> {{ dataModel.number }}</span>
    </div>
    <div class="status">
      {{ dataModel.status | translate | uppercase }}
    </div>
    <div class="name">
      <span> {{ dataModel.title }}</span>
    </div>
  </div>
  <div class="checkbox">
    <mat-checkbox
      [checked]="dataModel.selected || false"
      name="Primary"
      color="primary"
    ></mat-checkbox>
  </div>
</div>
