<mat-dialog-content
  [componentLoading]="(isLoading | async) || false"
  scrollToBottom
  (bottomReached)="bottomReachedHandler()"
>
  <div class="content">
    <div class="item" *ngFor="let item of items">
      <div class="title">
        <div class="icon">
          <i-feather
            [name]="'plus'"
            *ngIf="!item.isExpanded"
            (click)="toggleExpandWorkOrder(item.oid)"
          ></i-feather>
          <i-feather
            [name]="'minus'"
            *ngIf="item.isExpanded"
            (click)="toggleExpandWorkOrder(item.oid)"
          ></i-feather>
        </div>
        <div class="description">
          {{
            ("workOrder" | translate) +
              " " +
              ("nr" | translate) +
              " " +
              item.number +
              ", " +
              ("date" | translate) +
              ": " +
              ("nr" | translate) +
              " " +
              item.date
          }}
        </div>
      </div>
      <div class="childrens" *ngIf="item.isExpanded">
        <div class="child">
          <mat-checkbox
            color="primary"
            (change)="toggleSelectAll($event, item)"
            *ngIf="item.workOrderItems.length > 1"
            >{{ "selectDeselectAll" | translate }}</mat-checkbox
          >
          <mat-checkbox
            color="primary"
            [(ngModel)]="workOrderItem.selected"
            *ngFor="let workOrderItem of item.workOrderItems"
          >
            {{ workOrderItem.description }}
            {{ workOrderItem.note }}
            {{ workOrderItem.uom }}
            {{ workOrderItem.sumQuantity }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <app-button
    [text]="'cancel' | translate"
    color="secondary"
    (clickEvent)="cancelSaveSelection()"
  ></app-button>
  <app-button
    [text]="'import' | translate"
    color="primary"
    [disabled]="!hasSelected"
    (clickEvent)="saveSelection()"
  ></app-button>
</mat-dialog-actions>
