<div class="container">
  <div class="title">
    <h3>
      {{ (isEdit ? "editOutcome" : "createOutcome") | translate }}
    </h3>
  </div>
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "buyer" | translate }}
      </mat-label>
      <mat-select
        formControlName="buyer"
        [disabled]="isEdit"
        (infiniteScroll)="bottomReachedHandler()"
        msInfiniteScroll
        [compareWith]="compareFn"
        (selectionChange)="selectBuyer($event)"
      >
        <mat-option *ngIf="!isEdit">
          <ngx-mat-select-search
            [formControl]="searchControl"
            placeholderLabel="{{ 'searchFor' | translate }}"
            noEntriesFoundLabel="{{ 'noResults' | translate }}"
            [hideClearSearchButton]="true"
            [clearSearchInput]="true"
            [searching]="(isLoading | async) || false"
            [disableScrollToActiveOnOptionsChanged]="true"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngIf="selectedBuyer" [value]="selectedBuyer">{{
          selectedBuyer.name
        }}</mat-option>
        <ng-container *ngFor="let buyer of buyersEntities | async">
          <mat-option
            [value]="buyer"
            *ngIf="!(selectedBuyer?.oid === buyer.oid)"
          >
            {{ buyer.name | translate }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "amount" | translate }}
      </mat-label>
      <input type="text" appDecimal matInput formControlName="amount" />
    </mat-form-field>

    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "date" | translate }}
      </mat-label>
      <input type="date" matInput formControlName="date" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "comment" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="comment" />
    </mat-form-field>
  </form>
  <div class="button-section" *ngIf="formGroup">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      (clickEvent)="cancel()"
      class="cancel"
    ></app-button>
    <app-button
      [text]="'save' | translate"
      [disabled]="
        isEdit ? !formGroup.dirty || formGroup.invalid : formGroup.invalid
      "
      class="update"
      (clickEvent)="handleSubmitButton()"
    ></app-button>
  </div>
</div>
