<mat-dialog-content scrollToBottom (bottomReached)="bottomReachedHandler()">
  <ng-container *ngIf="this.buyerOID">
    <div
      class="no-results"
      *ngIf="totalEntitiesLength === 0 && !(isLoading | async)"
    >
      {{ "noResults" | translate }}
    </div>
    <div class="spinner" *ngIf="isLoading | async">
      <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngFor="let item of items">
      <app-work-order-selection-item
        class="item"
        [dataModel]="item.item"
        (click)="handleItemClick(item.item)"
      >
      </app-work-order-selection-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!this.buyerOID">{{
    "youDidntSelectAnyBuyer" | translate
  }}</ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <app-button
    [text]="'cancel' | translate"
    color="secondary"
    (clickEvent)="cancelSaveSelection()"
  ></app-button>
  <app-button
    [text]="'import' | translate"
    color="primary"
    [disabled]="!selection.length"
    (clickEvent)="saveSelection()"
  ></app-button>
</mat-dialog-actions>
