:host {
  display: flex;
  height: calc(100%);
}

.container {
  height: calc(100%);
  min-width: 500px;

  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .outcomes {
    height: calc(100% - 120px);
    overflow-y: auto;
    margin-top: 20px;

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto;

      .grid-item {
        &.header {
        }
      }
    }
  }
}

.min-with {
  max-width: 130px;
}
