<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "sortBy" | translate }}
      </mat-label>
      <mat-select (valueChange)="orderBy($event)">
        <mat-option value="ASC">{{ "asc" | translate }}</mat-option>
        <mat-option value="DESC">{{ "desc" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-button
      [text]="'incomes' | translate"
      (clickEvent)="incomes()"
      [isTransparentMode]="true"
    ></app-button>
    <app-button
      [iconName]="'plus'"
      [text]="'createOutcome' | translate"
      (clickEvent)="create()"
      [disabled]="!hasPrivilege('OUTCOME_CREATE')"
    ></app-button>
  </div>
  <div class="outcomes" scrollToBottom (bottomReached)="bottomReachedHandler()">
    <div class="grid-container standard-grid-table">
      <div class="grid-item header sticky">
        {{ "buyerName" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "date" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "amount" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "delete" | translate }}
      </div>
      <div
        class="no-results"
        *ngIf="(totalEntitiesLength | async) === 0 && !(isLoading | async)"
      >
        {{ "noResults" | translate }}
      </div>
      <div class="spinner" *ngIf="isLoading | async">
        <mat-spinner></mat-spinner>
      </div>
      <ng-container *ngFor="let outcome of entities | async">
        <div class="grid-item">
          {{ outcome.buyer.name }}
        </div>
        <div class="grid-item">
          {{ outcome.date | date: "dd.MM.yyyy" }}
        </div>
        <div class="grid-item align-right">
          {{ outcome.amount | number: "1.2-2":"de" }}
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            [isTransparentMode]="true"
            (clickEvent)="editOutcome(outcome.oid)"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            [isTransparentMode]="true"
            (clickEvent)="deleteOutcome(outcome)"
          ></app-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
