<div class="container">
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <div class="content">
      <div class="number" *ngIf="service">
        <i-feather name="activity"></i-feather>&nbsp;
        <span
          *ngFor="let item of breadrumbs; let i = index"
          class="breadcrumb-item"
        >
          <span *ngIf="i > 0">&nbsp;-</span>
          <span
            class="link"
            [class.is-parent]="breadrumbs.length > i + 1"
            (click)="openSubtask(item.oid)"
          >
            {{ item.type | translate }} {{ item.displayName }}
          </span>
        </span>
      </div>
      <div class="row">
        <mat-form-field *ngIf="buyerControl">
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "buyer" | translate }}
          </mat-label>
          <mat-select
            formControlName="buyer"
            (infiniteScroll)="bottomReachedHandlerBuyers()"
            msInfiniteScroll
            [compareWith]="compareFn"
            (selectionChange)="selectBuyer($event)"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="searchControlBuyers"
                placeholderLabel="{{ 'searchFor' | translate }}"
                noEntriesFoundLabel="{{ 'noResults' | translate }}"
                (ngModelChange)="searchHandlerBuyers($event)"
                [hideClearSearchButton]="true"
                [clearSearchInput]="false"
                [searching]="(isLoadingBuyers | async) || false"
                [disableScrollToActiveOnOptionsChanged]="true"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngIf="selectedBuyer" [value]="selectedBuyer">{{
              selectedBuyer.name
            }}</mat-option>
            <ng-container *ngFor="let buyer of buyerEntities | async">
              <mat-option
                [value]="buyer"
                *ngIf="!(selectedBuyer?.oid === buyer.oid)"
              >
                {{ buyer.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <app-button
          [iconName]="'plus'"
          (clickEvent)="createBuyer()"
          class="create-buyer-button"
        ></app-button>
      </div>

      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "title" | translate }}
        </mat-label>
        <input type="text" matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "description" | translate }}
        </mat-label>
        <textarea
          matInput
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"
        ></textarea>
      </mat-form-field>
      <div class="subtasks">
        <table>
          <thead>
            <tr>
              <th class="min-width"></th>
              <th>{{ "subtasks" | translate }}</th>
              <th class="min-width"></th>
              <th class="min-width">
                <app-button
                  [iconName]="'plus'"
                  [isTransparentMode]="true"
                  (clickEvent)="addSubtask()"
                ></app-button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of service.descedants"
              (click)="openSubtask(item.oid)"
            >
              <td class="min-width">{{ getServiceNumber(item) }}</td>
              <td class="max-width">{{ item.title }}</td>
              <td class="min-width">
                <app-user-card
                  [dataModel]="item.currentUser"
                  class="user"
                  [showUserData]="false"
                  [size]="'extra-small'"
                  [shape]="'circled'"
                  *ngIf="true"
                ></app-user-card>
              </td>
              <td class="min-width">{{ item.status }}</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="table">
          <div class="grid-container">
            <div *ngFor="let item of service.descedants" class="row">
              <div class="grid-item">
                {{ getServiceNumber(item) }}
              </div>
              <div class="grid-item">
                {{ item.title }}
              </div>
              <div class="grid-item">
                <app-user-card
                  [dataModel]="item.currentUser"
                  class="user"
                  [showUserData]="false"
                  [size]="'extra-small'"
                  [shape]="'circled'"
                  *ngIf="true"
                ></app-user-card>
              </div>
              <div class="grid-item">
                {{ item.status }}
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="menu-bar">
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "currentUser" | translate }}
        </mat-label>
        <mat-select
          formControlName="currentUser"
          (infiniteScroll)="bottomReachedHandlerUsers()"
          msInfiniteScroll
          [compareWith]="compareFn"
          (selectionChange)="selectUser($event)"
        >
          <mat-option>
            <ngx-mat-select-search
              [formControl]="searchControlUsers"
              placeholderLabel="{{ 'searchFor' | translate }}"
              noEntriesFoundLabel="{{ 'noResults' | translate }}"
              (ngModelChange)="searchHandlerUsers($event)"
              [hideClearSearchButton]="true"
              [clearSearchInput]="false"
              [searching]="(isLoadingUsers | async) || false"
              [disableScrollToActiveOnOptionsChanged]="true"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngIf="selectedUser" [value]="selectedUser">{{
            selectedUser.fullName
          }}</mat-option>
          <ng-container *ngFor="let user of userEntities | async">
            <mat-option
              [value]="user"
              *ngIf="!(selectedUser?.oid === user.oid)"
            >
              {{ user.fullName }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "status" | translate }}
        </mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let item of statusOptions" [value]="item.value">
            {{ item.displayName | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "date" | translate }}
        </mat-label>
        <input type="date" matInput formControlName="dateOfCreate" />
      </mat-form-field>
      <app-button
        [text]="'save' | translate"
        [disabled]="!formGroup.dirty || formGroup.invalid"
        class="update"
        (clickEvent)="handleSubmitButton()"
      ></app-button>
    </div>
  </form>
</div>
