<div class="wrapper">
  <div class="container">
    <div class="title">
      <h3>
        {{ "passwordChange" | translate }}
      </h3>
    </div>
    <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "username" | translate }}
          </mat-label>
          <input matInput formControlName="username" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "oldPassword" | translate }}
          </mat-label>
          <input matInput formControlName="oldPassword" [type]="'password'" />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "newPassword" | translate }}
          </mat-label>
          <input matInput formControlName="newPassword" [type]="'password'" />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "newPasswordRepeat" | translate }}
          </mat-label>
          <input
            matInput
            formControlName="newPasswordRepeat"
            [type]="'password'"
          />
        </mat-form-field>
      </div>
      <div class="button-section">
        <app-button
          [text]="'cancel' | translate"
          color="secondary"
          (clickEvent)="cancel()"
          class="cancel"
        ></app-button>
        <app-button
          [text]="'save' | translate"
          [disabled]="!formGroup.dirty || formGroup.invalid"
          class="update"
          (clickEvent)="handleSubmitButton()"
        ></app-button>
      </div>
    </form>
  </div>
</div>
