:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 345px;
  max-height: 0;
}

::ng-deep {
  me-alert-box me-basic-alert {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    transform: translateY(500px);
    transition: all 0.5s;

    .feather {
      height: 40px;
      width: 40px;
    }
  }
}
