<div class="wrapper">
  <div class="container">
    <div class="title">
      <h3>
        {{ "userProfile" | translate }}
      </h3>
    </div>
    <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "username" | translate }}
          </mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "fullName" | translate }}
          </mat-label>
          <input matInput formControlName="fullName" />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "email" | translate }}
          </mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "language" | translate }}
          </mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let item of languages" [value]="item">
              {{ item | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-section">
        <app-button
          [text]="'cancel' | translate"
          color="secondary"
          (clickEvent)="cancel()"
          class="cancel"
        ></app-button>
        <app-button
          [text]="'save' | translate"
          [disabled]="!formGroup.dirty || formGroup.invalid"
          class="update"
          (clickEvent)="handleSubmitButton()"
        ></app-button>
      </div>
    </form>
  </div>
</div>
