<div class="wrapper">
  <div class="container">
    <div class="title">
      <h3>
        {{ (isEdit ? "editWorkOrder" : "createWorkOrder") | translate }}
      </h3>
    </div>
    <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "numberOfWorkOrder" | translate }}
          </mat-label>
          <input
            type="text"
            appDecimal
            matInput
            formControlName="number"
            (keypress)="onKeypress($event, 'number')"
          />
        </mat-form-field>
        <app-button
          [isTransparentMode]="true"
          [text]="'createNumber' | translate"
          (clickEvent)="setWorkOrderNumber()"
          class="bottom-padding"
        ></app-button>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "buyer" | translate }}
          </mat-label>
          <mat-select
            formControlName="buyer"
            (valueChange)="buyerChanged()"
            [compareWith]="compareFn"
            (infiniteScroll)="bottomReachedHandlerBuyers()"
            msInfiniteScroll
            (selectionChange)="selectBuyer($event)"
            [disabled]="isEdit"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="searchControl"
                placeholderLabel="{{ 'searchFor' | translate }}"
                noEntriesFoundLabel="{{ 'noResults' | translate }}"
                (ngModelChange)="searchHandler($event)"
                [hideClearSearchButton]="true"
                [clearSearchInput]="true"
                [searching]="(isLoading | async) || false"
                [disableScrollToActiveOnOptionsChanged]="true"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngIf="selectedBuyer" [value]="selectedBuyer">{{
              selectedBuyer.name
            }}</mat-option>
            <ng-container *ngFor="let buyer of buyersEntities | async">
              <mat-option
                [value]="buyer"
                *ngIf="!(selectedBuyer?.oid === buyer.oid)"
              >
                {{ buyer.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-checkbox
          class="create-buyer-button"
          [color]="'primary'"
          [(ngModel)]="allowChangeBuyer"
          [ngModelOptions]="{ standalone: true }"
          *ngIf="isEdit"
          >{{ "changeBuyer" | translate }}</mat-checkbox
        >
        <mat-form-field *ngIf="isEdit && allowChangeBuyer">
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "buyer" | translate }}
          </mat-label>
          <mat-select
            (infiniteScroll)="bottomReachedHandlerBuyersOnChange()"
            msInfiniteScroll
            [compareWith]="compareFn"
            (selectionChange)="selectBuyerOnChange($event)"
          >
            <mat-option *ngIf="isEdit">
              <ngx-mat-select-search
                [formControl]="searchControlOnChange"
                placeholderLabel="{{ 'searchFor' | translate }}"
                noEntriesFoundLabel="{{ 'noResults' | translate }}"
                (ngModelChange)="searchHandlerOnChange($event)"
                [hideClearSearchButton]="true"
                [clearSearchInput]="true"
                [searching]="(isLoadingOnChange | async) || false"
                [disableScrollToActiveOnOptionsChanged]="true"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option
              *ngIf="selectedBuyerOnChange"
              [value]="selectedBuyerOnChange"
              >{{ selectedBuyerOnChange.name }}</mat-option
            >
            <ng-container *ngFor="let buyer of buyersEntitiesOnChange | async">
              <mat-option
                [value]="buyer"
                *ngIf="!(selectedBuyerOnChange?.oid === buyer.oid)"
              >
                {{ buyer.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <app-button
          [iconName]="'plus'"
          (clickEvent)="createBuyer()"
          class="create-buyer-button"
          *ngIf="!isEdit"
          class="bottom-padding"
          [disabled]="!hasPrivilege('BUYER_CREATE')"
        ></app-button>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "forNeedsOf" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="forPerson"
            (keypress)="onKeypress($event, 'forPerson')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "description" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="description"
            (keypress)="onKeypress($event, 'description')"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "dateOfCreate" | translate }}
          </mat-label>
          <input
            type="date"
            matInput
            formControlName="dateOfCreate"
            (keypress)="onKeypress($event, 'dateOfCreate')"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "placeOfIssue" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="placeOfIssue"
            (keypress)="onKeypress($event, 'placeOfIssue')"
          />
        </mat-form-field>
      </div>
      <div formArrayName="workOrderItems" class="work-order-items">
        <div
          *ngFor="let comp of workOrderItemsFormArr.controls; let i = index"
          class="work-order-item"
        >
          <div [formGroupName]="i" class="form-group">
            <mat-form-field class="full-width">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "description" | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                formControlName="description"
                #trigger="matAutocompleteTrigger"
                (keydown.enter)="trigger.closePanel()"
                (keypress)="
                  onKeypress($event, 'description', i);
                  calculateGrindingLengthForItem(i);
                  switchOnCalcBasedOnDescription(i)
                "
                (change)="switchOnCalcBasedOnDescription(i)"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of getFilteredOptions(i) | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "uom" | translate }}
              </mat-label>
              <mat-select
                formControlName="uom"
                (focusout)="
                  calculateWorkOrderSum(i); calculateGrindingLengthForItem(i)
                "
                (openedChange)="openedToggleOnUomSelect($event, i)"
              >
                <mat-option
                  *ngFor="let item of uomOptions"
                  [value]="item.value"
                >
                  {{ item.displayName | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "widthMM" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                formControlName="dimension1"
                (keypress)="onKeypress($event, 'dimension1', i)"
                (change)="
                  calculateWorkOrderSum(i); calculateGrindingLengthForItem(i)
                "
                (focusout)="calculateWorkOrderSum(i)"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "heightMM" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                formControlName="dimension2"
                (keypress)="onKeypress($event, 'dimension2', i)"
                (change)="
                  calculateWorkOrderSum(i); calculateGrindingLengthForItem(i)
                "
                (focusout)="calculateWorkOrderSum(i)"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "quantity" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                formControlName="quantity"
                (keypress)="onKeypress($event, 'quantity', i)"
                (change)="
                  calculateWorkOrderSum(i); calculateGrindingLengthForItem(i)
                "
                (focusout)="calculateWorkOrderSum(i)"
              />
            </mat-form-field>
            <mat-form-field class="number-field">
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "sum" | translate }}
              </mat-label>
              <input
                type="text"
                appDecimal
                matInput
                formControlName="sumQuantity"
                (keypress)="onKeypress($event, 'sumQuantity', i)"
                (change)="calculateSum()"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "note" | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                formControlName="note"
                (keypress)="onKeypress($event, 'note', i)"
              />
            </mat-form-field>
            <app-button
              [iconName]="'minus'"
              (clickEvent)="removeItem(i)"
              [isTransparentMode]="true"
              class="additional-button"
            ></app-button>
            <mat-checkbox
              class="cons-measure-checkbox"
              [color]="'primary'"
              [checked]="true"
              (change)="calculateWorkOrderSum(i, $event.checked)"
              >{{ "consMeas" | translate }}</mat-checkbox
            >
            <mat-checkbox
              class="cons-measure-checkbox"
              [color]="'primary'"
              [(ngModel)]="sumForGrindingsItems[i].isCalculated"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!(getUOM(i)?.value === 'M2')"
              (change)="
                calculateGrindingLengthForItem(i);
                calculateWorkOrderSumOfGrinding()
              "
              *ngIf="!sumForGrindingsItems[i].isCalculated"
              >{{ "calcLength" | translate }}</mat-checkbox
            >
            <mat-form-field
              class="small-number-input"
              *ngIf="sumForGrindingsItems[i].isCalculated"
            >
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "length" | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                appDecimal
                [(ngModel)]="sumForGrindingsItems[i].value"
                (change)="calculateWorkOrderSumOfGrinding()"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row full-width bottom-margin">
        <div class="items-buttons">
          <app-button
            [iconName]="'plus'"
            [text]="'addNewItem' | translate"
            (clickEvent)="addNewItem()"
            class="big-button"
            [disabled]="!isBuyerSelected"
          ></app-button>
          <app-button
            [iconName]="'plus'"
            [text]="('addGrinding' | translate) + ' (' + sumOfGrinding + ')'"
            (clickEvent)="addSumOfGrindingItems()"
            class="big-button"
            [isTransparentMode]="true"
            [disabled]="!isBuyerSelected"
            *ngIf="sumOfGrinding > 0"
          ></app-button>
        </div>
        <div
          class="sum-info"
          *ngIf="sumMeter2 > 0 || sumMeter > 0 || sumPieces > 0 || sumHours > 0"
        >
          <div class="key" *ngIf="sumMeter2 > 0">
            <div class="value1">{{ "sumMeter2" | translate }}</div>
            <div class="value2">{{ "quantity" | translate }}</div>
          </div>
          <div class="value" *ngIf="sumMeter2 > 0">
            <div class="value1">{{ sumMeter2 | number: "1.2-2":"de" }}</div>
            <div class="value2">
              {{ sumMeter2Quantity | number: "1.2-2":"de" }}
            </div>
          </div>
          <div class="key" *ngIf="sumMeter > 0">
            <div class="value1">{{ "sumMeter" | translate }}</div>
            <div class="value2">{{ "quantity" | translate }}</div>
          </div>
          <div class="value" *ngIf="sumMeter > 0">
            <div class="value1">{{ sumMeter | number: "1.2-2":"de" }}</div>
            <div class="value2">
              {{ sumMeterQuantity | number: "1.2-2":"de" }}
            </div>
          </div>
          <div class="key" *ngIf="sumPieces > 0">
            {{ "sumPieces" | translate }}
          </div>
          <div class="value" *ngIf="sumPieces > 0">
            {{ sumPieces | number: "1.2-2":"de" }}
          </div>
          <div class="key" *ngIf="sumHours > 0">
            {{ "sumHours" | translate }}
          </div>
          <div class="value" *ngIf="sumHours > 0">
            {{ sumHours | number: "1.2-2":"de" }}
          </div>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="text-area">
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "note" | translate }}
          </mat-label>
          <textarea
            matInput
            formControlName="note"
            (keypress)="onKeypress($event, 'note')"
            rows="3"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="images">
        <div *ngFor="let image of workOrderImages; let j = index" class="image">
          <div class="button-container">
            <app-button
              [iconName]="'upload'"
              [isTransparentMode]="true"
              (clickEvent)="uploadFile(j)"
            ></app-button>
            <input
              type="file"
              #fileCtrl
              (change)="onFileSelected($event, j)"
              hidden
            />
            <mat-form-field>
              <mat-label
                [class.mark-required]="true"
                [class.mark-opt-required]="true"
              >
                {{ "description" | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="image.description"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <app-button
              [iconName]="'minus'"
              [isTransparentMode]="true"
              (clickEvent)="removeImage(j)"
            ></app-button>
          </div>
          <div
            class="image-preview"
            [ngStyle]="{
              'background-image': 'url(' + image.fullUrl + ')'
            }"
          ></div>
        </div>
      </div>
      <app-button
        [text]="'addImage' | translate"
        (clickEvent)="addNewImage()"
        class="add-image-button"
      ></app-button>
    </form>
    <div class="button-section" *ngIf="formGroup">
      <div class="container">
        <app-button
          [text]="'cancel' | translate"
          color="secondary"
          (clickEvent)="cancel()"
          class="cancel"
        ></app-button>
      </div>
      <div class="container">
        <app-button
          [text]="'save' | translate"
          [disabled]="!formGroup.dirty || formGroup.invalid"
          class="update"
          (clickEvent)="handleSubmitButton()"
        ></app-button>
        <app-button
          [text]="'saveAndCreateInvoice' | translate"
          [disabled]="!formGroup.dirty || formGroup.invalid"
          class="update"
          (clickEvent)="handleSubmitButton(true)"
          *ngIf="!isEdit"
        ></app-button>
      </div>
    </div>
  </div>
</div>
