.wrapper {
  height: calc(100%);

  .container {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;

    .title {
      display: flex;
      border-bottom: 2px dotted var(--color-main-light);
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      display: flex;
      width: 100%;

      .row {
        display: flex;

        .items-buttons {
          display: flex;
          .big-button {
            margin-right: 20px;
          }
        }

        .bottom-padding {
          display: flex;
          align-items: center;
          padding-bottom: 1.34375em;
          margin-left: 20px;
        }

        &.full-width {
          justify-content: space-between;
        }

        .sum-info {
          display: flex;
          border: 2px solid var(--color-main-dark);

          .key {
            display: flex;
            flex-direction: column;
            min-width: 130px;
            align-items: center;
            justify-content: space-evenly;
            border-right: 1px dotted var(--color-main-dark);
            font-weight: 600;
          }

          .value {
            display: flex;
            flex-direction: column;
            min-width: 100px;
            padding-right: 10px;
            align-items: flex-end;
            justify-content: space-evenly;
            border-right: 2px solid var(--color-main-dark);
          }
        }

        .text-area {
          min-width: 400px;
        }

        &.bottom-margin {
          margin-bottom: 20px;
        }
      }

      .work-order-items {
        .work-order-item {
          .form-group {
            display: flex;
            .full-width {
              flex-grow: 1;
            }

            .number-field {
              flex-shrink: 1;
              max-width: 100px;
            }

            .additional-button {
              margin: 10px 5px;
            }
          }
        }
      }

      .add-image-button {
        margin-bottom: 20px;
      }
    }

    .button-section {
      display: flex;
      width: 100%;
      height: 60px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .container {
        height: 100%;
        app-button {
          margin-right: 20px;
        }
      }
    }
  }
}

.cons-measure-checkbox {
  margin-top: 15px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .image {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-main-light);
    margin: 10px;

    .button-container {
      display: flex;
      flex-grow: 1;
      justify-content: space-evenly;
      border-bottom: 1px dotted var(--color-main-light);

      app-button {
        margin-top: 10px;
      }
    }

    .image-preview {
      height: 400px;
      width: 400px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.display-none {
  display: none;
}

.small-number-input {
  width: 70px;
}
