<div class="item-card" [ngClass]="{ selected: dataModel.selected }">
  <div class="container">
    <div class="number">
      <span>{{ "nr" | translate }}: {{ dataModel.number }}</span>
    </div>
    <div class="date">
      <span class="bold">{{ "date" | translate }}</span
      >: {{ dataModel.date | date: "dd.MM.yyyy" }}
    </div>
    <div class="for-person">
      <div class="value">
        <span class="bold">{{ "forPerson" | translate }}</span
        >: {{ dataModel.forPerson }}
      </div>
    </div>
    <div class="note">
      <div class="value">
        <span class="bold">{{ "note" | translate }}</span
        >: {{ dataModel.note }}
      </div>
    </div>
    <div class="description">
      <span class="bold">{{ "description" | translate }}</span
      >: {{ dataModel.description }}
    </div>
  </div>
  <div class="checkbox">
    <mat-checkbox
      [checked]="dataModel.selected || false"
      name="Primary"
      color="primary"
    ></mat-checkbox>
  </div>
</div>
