.wrapper {
  display: flex;
  height: calc(100%);

  .container {
    height: calc(100%);

    .search-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
    }

    .users {
      height: calc(100% - 150px);
      overflow-y: auto;

      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;

        .grid-item {
          &.active {
            font-weight: 600;
            color: var(--color-success);
          }

          &.inactive {
            font-weight: 600;
            color: var(--color-danger);
          }
        }
      }
    }
  }
}
