:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        height: 80px;
        width: 300px;
      }
    }

    .heading {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      padding: 20px;
      font-size: 1.14em;

      .title {
        text-transform: uppercase;
      }

      .email {
        margin-top: 20px;
      }
    }
  }
  .company-description {
    text-align: center;
    font-size: 0.8em;
  }

  .body-content {
    border-top: 1px solid var(--color-main);
    width: 100%;

    .heading {
      table {
        font-weight: 700;
        tr {
          .column1 {
            width: 130px;
          }
          .column2 {
            width: 260px;
          }
          .column3 {
            width: 70px;
          }
          .column4 {
            width: 120px;
          }
        }
      }
    }

    .table {
      border-collapse: collapse;
      color: var(--color-black);
      font-size: 1.14em;

      tr {
        border: 1px solid var(--color-black);
        background-color: var(--color-white);
        -webkit-print-color-adjust: exact;

        th {
          font-weight: 600;
          border: 1px solid var(--color-black);
        }

        td {
          border: 1px solid var(--color-black);
          padding: 0.25rem;
        }
      }
      tr:nth-child(even) {
        background-color: var(--color-main-lighter);
        -webkit-print-color-adjust: exact;
      }
    }

    .note {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .title {
        font-weight: 600;
        text-transform: uppercase;
      }

      .description {
        font-size: 0.9em;
      }
    }

    .images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .image {
        max-width: 45%;
        // max-height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .signature {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: space-between;

      .signature-container {
        display: flex;
        flex-direction: column;

        .title {
          margin-bottom: 20px;
          text-align: center;
        }

        .description {
          width: 150px;
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
  }
}

.right {
  text-align: end;
}
