<div class="container" *ngIf="workOrder">
  <div class="header">
    <div class="logo">
      <img src="{{ 'assets/images/company_logo.PNG' }}" />
    </div>
    <div class="heading">
      <div class="title">
        {{
          settings?.workOrderHeadingLine1 ||
            "Proizvodnja termoizolacionog stakla"
        }}
      </div>
      <div class="title">
        {{
          settings?.workOrderHeadingLine2 ||
            "Oblikovanje i obrada ravnog stakla"
        }}
      </div>
      <div class="title">
        {{
          settings?.workOrderHeadingLine3 ||
            "Proizvodnja lajsni za ramove i uramljivanje slika"
        }}
      </div>
      <div class="email">
        {{ "email" | translate }}:
        {{ settings?.companyEmail || "stakloramplus@hallsys.net" }}
      </div>
    </div>
  </div>
  <div class="company-description">
    {{
      settings?.workOrderCompanyDescription ||
        "21400 Bačka Palanka. Žarka Zrenjanina 70; Tel.: 021/60 44 182; PIB: 105509737; T.R.: 310-16916-02 NLB Banka"
    }}
  </div>
  <div class="body-content">
    <div class="heading">
      <table>
        <tr>
          <td class="column1">{{ "orderer" | translate }}:</td>
          <td class="column2">{{ workOrder.buyer.name }}</td>
          <td class="column3">{{ "place" | translate }}:</td>
          <td class="column4">{{ workOrder.placeOfIssue }}</td>
        </tr>
        <tr>
          <td class="column1">{{ "forNeedsOf" | translate }}:</td>
          <td class="column2">{{ workOrder.forPerson }}</td>
          <td class="column3">{{ "descriptionOfWork" | translate }}:</td>
          <td class="column4">{{ workOrder.description }}</td>
        </tr>
        <tr>
          <td class="column1">{{ "workOrderNr" | translate }}:</td>
          <td class="column2">{{ getWorkOrderNumber(workOrder) }}</td>
          <td class="column3">{{ "date" | translate }}:</td>
          <td class="column4">
            {{ workOrder.dateOfCreate | date: "dd-MM-yyyy" }}
          </td>
        </tr>
      </table>
    </div>
    <!--
                  *ngIf="cellRowspan[i].displayCell"
            style="rowspan='{{ cellRowspan[i].rowspan }}' "
     -->
    <div class="table">
      <table [style]="{ 'border-collapse': 'collapse' }">
        <tr>
          <th>{{ "num" | translate }}</th>
          <th class="right">
            {{ "typeOfGlassOrService" | translate }}
          </th>
          <th class="right">{{ "width" | translate }}</th>
          <th class="right">{{ "height" | translate }}</th>
          <th class="right">{{ "pcs" | translate }}</th>
          <th class="right">{{ "mm2" | translate }}</th>
          <th class="right">{{ "note" | translate }}</th>
        </tr>
        <tr *ngFor="let item of workOrder.workOrderItems; let i = index">
          <td class="right">{{ i + 1 }}</td>
          <td
            class="right"
            *ngIf="cellRowspan[i].displayCell"
            [attr.rowspan]="cellRowspan[i].rowspan"
          >
            {{ item.description }}
          </td>
          <td class="right">{{ item.dimension1 | number: "1.2-2":"de" }}</td>
          <td class="right">{{ item.dimension2 | number: "1.2-2":"de" }}</td>
          <td class="right">{{ item.quantity | number: "1.2-2":"de" }}</td>
          <td class="right">
            {{ item.sumQuantity | number: "1.3-3":"de" }}
          </td>
          <td class="right">{{ item.note }}</td>
        </tr>
      </table>
    </div>
    <div class="note">
      <div class="title">{{ "notes" | translate }}:</div>
      <div class="description">
        {{ workOrder.note }}
      </div>
    </div>
    <div class="signature">
      <div class="signature-container">
        <div class="title">{{ "goodsGiveBy" | translate }}:</div>
        <div class="description"></div>
      </div>
      <div class="signature-container">
        <div class="title">{{ "goodsTakenBy" | translate }}:</div>
        <div class="description"></div>
      </div>
    </div>
  </div>
</div>
