:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        height: 80px;
        width: 200px;
      }
    }

    .heading {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      padding: 20px;
      font-size: 0.9em;

      .title {
        text-transform: uppercase;
      }

      .email {
        margin-top: 20px;
      }
    }
  }
  .company-description {
    text-align: center;
    font-size: 0.7em;
  }

  .body-content {
    border-top: 1px solid var(--color-main);
    width: 100%;

    .heading {
      display: flex;
      font-weight: 600;
      justify-content: space-between;

      .column-container {
        display: flex;
        .column {
          padding: 10px;
        }
      }
    }

    .table {
      border-collapse: collapse;
      color: var(--color-black);

      tr {
        border: 1px solid var(--color-black);
        background-color: var(--color-white);

        th {
          font-weight: 600;
          border: 1px solid var(--color-black);
        }

        td {
          border: 1px solid var(--color-black);
        }
      }
      tr:nth-child(even) {
        background-color: var(--color-disabled);
      }
    }

    .note {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 600;
        text-transform: uppercase;
      }

      .description {
        font-size: 0.9em;
      }
    }

    .signature {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: space-between;

      .signature-container {
        display: flex;
        flex-direction: column;

        .title {
          margin-bottom: 20px;
          text-align: center;
        }

        .description {
          width: 150px;
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
  }
}

.right {
  text-align: end;
}
