.main-app-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  overflow-y: hidden;
  // padding: 10px;

  .sidebar-container {
    height: 100%;
    transition: flex-basis 0.3s ease;
    flex-basis: var(--sidebar-width);

    &.expanded {
      flex-basis: var(--sidebar-expanded-width);
      overflow: visible;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    max-width: calc(100% - 111px);
    margin: 20px;
  }
}
