<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <div class="radio">
      <mat-radio-group
        aria-label="'invoiceType'|translate"
        [color]="'primary'"
        (change)="typeChanged($event)"
      >
        <mat-radio-button value="'all'" [checked]="true">{{
          "all" | translate
        }}</mat-radio-button>
        <mat-radio-button
          value="{{ type.value }}"
          *ngFor="let type of typesOptions"
          >{{ type.displayName | translate }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <app-button
      [text]="'createInvoice' | translate"
      (clickEvent)="create()"
    ></app-button>
  </div>
  <div
    class="invoices"
    [componentLoading]="(isLoading | async) || false"
    scrollToBottom
    (bottomReached)="bottomReachedHandler()"
  >
    <div class="grid-container standard-grid-table">
      <div class="grid-item header">
        {{ "buyerName" | translate }}
      </div>
      <div class="grid-item header">
        {{ "invoiceType" | translate }}
      </div>
      <div class="grid-item header">
        {{ "invoiceNumber" | translate }}
      </div>
      <div class="grid-item header">
        {{ "dateOfCreate" | translate }}
      </div>
      <div class="grid-item header">
        {{ "dateOfMaturity" | translate }}
      </div>
      <div class="grid-item header">
        {{ "netAmount" | translate }}
      </div>
      <div class="grid-item header">
        {{ "vatAmount" | translate }}
      </div>
      <div class="grid-item header">
        {{ "grossAmount" | translate }}
      </div>
      <div class="grid-item header">
        {{ "create" | translate }}
      </div>
      <div class="grid-item header">
        {{ "view" | translate }}
      </div>
      <div class="grid-item header">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item header">{{ "delete" | translate }}</div>
      <ng-container *ngFor="let invoice of entities | async">
        <div class="grid-item">
          {{ invoice.buyer.name }}
        </div>
        <div class="grid-item">
          {{ getTYPEDisplayValue(invoice.type) | translate }}
        </div>
        <div class="grid-item">
          {{ invoice.number }}
        </div>
        <div class="grid-item">
          {{ invoice.dateOfCreate | date: "dd.MM.yyyy" }}
        </div>
        <div class="grid-item">
          {{ invoice.dateOfMaturity | date: "dd.MM.yyyy" }}
        </div>
        <div class="grid-item align-right">
          {{ invoice.netAmount | number: "1.2-2":"de" }}
        </div>
        <div class="grid-item align-right">
          {{ invoice.vatAmount | number: "1.2-2":"de" }}
        </div>
        <div class="grid-item align-right">
          {{ invoice.grossAmount | number: "1.2-2":"de" }}
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'credit-card'"
            [isTransparentMode]="true"
            (clickEvent)="createInvoiceFromPreInvoice(invoice)"
            *ngIf="invoice.type === 'PRE_INVOICE'"
            [matTooltip]="'createInvoice' | translate"
          ></app-button>
          <app-button
            [iconName]="'credit-card'"
            [isTransparentMode]="true"
            (clickEvent)="createInvoiceFromAdvanceInvoice(invoice)"
            *ngIf="invoice.type === 'ADVANCE_INVOICE'"
            [matTooltip]="'createInvoice' | translate"
          ></app-button>
          <app-button
            [iconName]="'dollar-sign'"
            [isTransparentMode]="true"
            (clickEvent)="createIncome(invoice)"
            *ngIf="invoice.type === 'DOMESTIC' || invoice.type === 'FOREIGN'"
            [matTooltip]="'createIncome' | translate"
            [disabled]="!hasPrivilege('INCOME_CREATE')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'eye'"
            [isTransparentMode]="true"
            (clickEvent)="viewInvoice(invoice.oid)"
            [matTooltip]="'viewInvoice' | translate"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            [isTransparentMode]="true"
            (clickEvent)="editInvoice(invoice.oid)"
            [matTooltip]="'editInvoice' | translate"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            [isTransparentMode]="true"
            (clickEvent)="deleteInvoice(invoice)"
            [matTooltip]="'deleteInvoice' | translate"
          ></app-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
