:host {
  display: flex;
  height: calc(100%);
}

.container {
  height: calc(100%);

  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .invoices {
    height: calc(100% - 120px);
    overflow-y: auto;
    margin-top: 20px;

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;

      .grid-item {
        &.header {
        }

        &.storno {
          background-color: var(--color-danger-hover);
        }
      }
    }
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
