<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <mat-checkbox
      class="create-buyer-button"
      [color]="'primary'"
      [(ngModel)]="showAllInvoices"
      [ngModelOptions]="{ standalone: true }"
      (change)="showAllChanged()"
      >{{ "showAll" | translate }}</mat-checkbox
    >
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "showMatured" | translate }}
      </mat-label>
      <mat-select (valueChange)="showMaturedChanged($event)">
        <mat-option value="all">{{ "all" | translate }}</mat-option>
        <mat-option value="matured">{{ "matured" | translate }}</mat-option>
        <mat-option value="notMatured">{{
          "notMatured" | translate
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "fromDate" | translate }}
      </mat-label>
      <input type="date" matInput (change)="dateChanged('from', $event)" />
    </mat-form-field>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "toDate" | translate }}
      </mat-label>
      <input type="date" matInput (change)="dateChanged('to', $event)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "objectType" | translate }}
      </mat-label>
      <mat-select (valueChange)="typeChanged($event)">
        <mat-option value="'all'">{{ "all" | translate }}</mat-option>
        <mat-option *ngFor="let type of typesOptions" [value]="type">
          {{ type.displayName | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "sortBy" | translate }}
      </mat-label>
      <mat-select (valueChange)="orderBy($event)">
        <mat-option value="ASC">{{ "asc" | translate }}</mat-option>
        <mat-option value="DESC">{{ "desc" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-button
      [iconName]="'plus'"
      [text]="'createInvoice' | translate"
      (clickEvent)="create()"
      [disabled]="!hasPrivilege('INVOICE_CREATE')"
    ></app-button>
  </div>
  <div class="invoices" scrollToBottom (bottomReached)="bottomReachedHandler()">
    <div class="grid-container standard-grid-table">
      <div class="grid-item header sticky">
        {{ "buyerName" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "invoiceType" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "invoiceNumber" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "dateOfCreate" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "dateOfMaturity" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "netAmount" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "vatAmount" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "grossAmount" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "create" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "view" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item header sticky">{{ "delete" | translate }}</div>
      <div
        class="no-results"
        *ngIf="(totalEntitiesLength | async) === 0 && !(isLoading | async)"
      >
        {{ "noResults" | translate }}
      </div>
      <div class="spinner" *ngIf="isLoading | async">
        <mat-spinner></mat-spinner>
      </div>
      <ng-container *ngFor="let invoice of entities | async">
        <div class="grid-item">
          {{ invoice.buyer.name }}
        </div>
        <div class="grid-item">
          {{ getTYPEDisplayValue(invoice.type) | translate }}
        </div>
        <div class="grid-item">
          {{ invoice.number }}
        </div>
        <div class="grid-item">
          {{ invoice.dateOfCreate | date : "dd.MM.yyyy" }}
        </div>
        <div class="grid-item">
          {{ invoice.dateOfMaturity | date : "dd.MM.yyyy" }}
        </div>
        <div class="grid-item align-right">
          {{ invoice.netAmount | number : "1.2-2" : "de" }}
        </div>
        <div class="grid-item align-right">
          {{ invoice.vatAmount | number : "1.2-2" : "de" }}
        </div>
        <div class="grid-item align-right">
          {{ invoice.grossAmount | number : "1.2-2" : "de" }}
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'credit-card'"
            [isTransparentMode]="true"
            (clickEvent)="createInvoiceFromPreInvoice(invoice)"
            *ngIf="invoice.type === 'PRE_INVOICE'"
            [matTooltip]="'createInvoice' | translate"
            [disabled]="!hasPrivilege('INVOICE_CREATE')"
          ></app-button>
          <app-button
            [iconName]="'credit-card'"
            [isTransparentMode]="true"
            (clickEvent)="createInvoiceFromAdvanceInvoice(invoice)"
            *ngIf="invoice.type === 'ADVANCE_INVOICE'"
            [matTooltip]="'createInvoice' | translate"
            [disabled]="!hasPrivilege('INVOICE_CREATE')"
          ></app-button>
          <app-button
            [iconName]="'dollar-sign'"
            [isTransparentMode]="true"
            (clickEvent)="createIncome(invoice)"
            *ngIf="invoice.type === 'DOMESTIC' || invoice.type === 'FOREIGN'"
            [matTooltip]="'createIncome' | translate"
            [disabled]="!hasPrivilege('INCOME_CREATE')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'eye'"
            [isTransparentMode]="true"
            (clickEvent)="viewInvoice(invoice.oid)"
            [matTooltip]="'viewInvoice' | translate"
            [disabled]="!hasPrivilege('INVOICE_VIEW')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            [isTransparentMode]="true"
            (clickEvent)="editInvoice(invoice.oid)"
            [matTooltip]="'editInvoice' | translate"
            [disabled]="!hasPrivilege('INVOICE_CREATE')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            [isTransparentMode]="true"
            (clickEvent)="deleteInvoice(invoice)"
            [matTooltip]="'deleteInvoice' | translate"
            [disabled]="!hasPrivilege('INVOICE_DELETE')"
          ></app-button>
        </div>
      </ng-container>
      <div class="grid-item">{{ "sum" | translate }}</div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item align-right">
        {{ getSumFor(entities | async, "netPrice") | number : "1.2-2" : "de" }}
      </div>
      <div class="grid-item align-right">
        {{ getSumFor(entities | async, "vatAmount") | number : "1.2-2" : "de" }}
      </div>
      <div class="grid-item align-right">
        {{
          getSumFor(entities | async, "grossAmount") | number : "1.2-2" : "de"
        }}
      </div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item">{{ "-" }}</div>
      <div class="grid-item">{{ "-" }}</div>
    </div>
  </div>
</div>
