<div class="content-section">
  <div class="content-wrapper">
    <!-- <div class="company-logo">
      <img src="/assets/images/company_logo.PNG" />
    </div> -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="cite-logo">
    <img src="/assets/images/site_logo.png" />
  </div> -->
  <div class="company-content-wrapper">
    <div class="company-content">
      <div class="upper">Plus</div>
      <div class="company-name">
        <div class="first">Staklo</div>
        <div class="second">RAM</div>
      </div>
      <div class="under">
        O B L I K O V A N J E &nbsp;&nbsp;I&nbsp;&nbsp; O B R A D A
        &nbsp;&nbsp;S T A K L A
      </div>
    </div>
  </div>
</div>
