<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <div class="date-filter">
      <mat-checkbox
        class="create-buyer-button"
        [color]="'primary'"
        [(ngModel)]="showOnlyUnsettled"
        [ngModelOptions]="{ standalone: true }"
        (change)="viewUnsettled()"
        >{{ "showOnlyUnsettled" | translate }}</mat-checkbox
      >
    </div>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "fromDate" | translate }}
      </mat-label>
      <input type="date" matInput (change)="dateChanged('from', $event)" />
    </mat-form-field>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "toDate" | translate }}
      </mat-label>
      <input type="date" matInput (change)="dateChanged('to', $event)" />
    </mat-form-field>
    <mat-form-field class="min-with">
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "sortBy" | translate }}
      </mat-label>
      <mat-select (valueChange)="orderBy($event)">
        <mat-option value="ASC">{{ "asc" | translate }}</mat-option>
        <mat-option value="DESC">{{ "desc" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-button
      [iconName]="'plus'"
      [text]="'createWorkOrder' | translate"
      (clickEvent)="createWorkOrder()"
      [disabled]="!hasPrivilege('WORK_ORDER_CREATE')"
    ></app-button>
  </div>
  <div
    class="workOrders"
    scrollToBottom
    (bottomReached)="bottomReachedHandler()"
  >
    <div class="grid-container standard-grid-table">
      <div class="grid-item header sticky">
        {{ "buyerName" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "number" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "date" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "forPerson" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "description" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "note" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "PDF" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "uploadPDF" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "view" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "delete" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "mark" | translate }}
      </div>
      <ng-container *ngIf="!showOnlyUnsettled">
        <div
          class="no-results"
          *ngIf="(totalEntitiesLength | async) === 0 && !(isLoading | async)"
        >
          {{ "noResults" | translate }}
        </div>
        <div class="spinner" *ngIf="isLoading | async">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
      <ng-container *ngIf="showOnlyUnsettled">
        <div
          class="no-results"
          *ngIf="totalEntitiesLengthUnsettled === 0 && !isLoadingUnsettled"
        >
          {{ "noResults" | translate }}
        </div>
        <div class="spinner" *ngIf="isLoadingUnsettled">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>

      <ng-container
        *ngFor="
          let workOrder of showOnlyUnsettled
            ? entitiesUnsettled
            : (entities | async)
        "
      >
        <div class="grid-item">
          {{ workOrder.buyer.name }}
        </div>
        <div class="grid-item">
          {{ getWorkOrderNumber(workOrder) }}
        </div>
        <div class="grid-item">
          {{ workOrder.dateOfCreate | date : "dd.MM.yyyy" }}
        </div>
        <div class="grid-item align-left">
          {{ workOrder.forPerson }}
        </div>
        <div class="grid-item align-left">
          {{ workOrder.description }}
        </div>
        <div class="grid-item align-left">
          {{ workOrder.note }}
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'file-text'"
            [isTransparentMode]="true"
            (clickEvent)="viewWorkOrderPDF(workOrder.oid)"
            [disabled]="!hasPrivilege('WORK_ORDER_VIEW')"
            [matTooltip]="'viewPDF' | translate"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'upload'"
            [isTransparentMode]="true"
            (clickEvent)="openFileDialog(workOrder.oid)"
            [disabled]="!hasPrivilege('WORK_ORDER_VIEW')"
            [matTooltip]="'uploadPDF' | translate"
          ></app-button>
          <input
            type="file"
            accept=".pdf"
            (change)="onFileSelected()"
            #fileInput
            style="display: none"
          />
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'eye'"
            [isTransparentMode]="true"
            (clickEvent)="viewWorkOrder(workOrder.oid)"
            [disabled]="!hasPrivilege('WORK_ORDER_VIEW')"
            [matTooltip]="'view' | translate"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            [isTransparentMode]="true"
            (clickEvent)="editWorkOrder(workOrder.oid)"
            [disabled]="!hasPrivilege('WORK_ORDER_CREATE')"
            [matTooltip]="'update' | translate"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            [isTransparentMode]="true"
            (clickEvent)="deleteWorkOrder(workOrder)"
            [disabled]="!hasPrivilege('WORK_ORDER_DELETE')"
            [matTooltip]="'delete' | translate"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'check-square'"
            [isTransparentMode]="true"
            (clickEvent)="toggleSettledForWorkOrder(workOrder)"
            [disabled]="!hasPrivilege('INVOICE_CREATE')"
            [matTooltip]="
              (showOnlyUnsettled
                ? 'markWorkOrderItemsAsSettled'
                : 'markWorkOrderItemsAsUnsettled'
              ) | translate
            "
          ></app-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
