<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <app-button
      [text]="'createWorkOrder' | translate"
      (clickEvent)="createWorkOrder()"
      [disabled]="!hasPrivilege('WORK_ORDER_CREATE')"
    ></app-button>
  </div>
  <div
    class="workOrders"
    [componentLoading]="(isLoading | async) || false"
    scrollToBottom
    (bottomReached)="bottomReachedHandler()"
  >
    <div class="grid-container standard-grid-table">
      <div class="grid-item header sticky">
        {{ "buyerName" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "number" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "date" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "forPerson" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "description" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "note" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "view" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "delete" | translate }}
      </div>
      <ng-container *ngFor="let workOrder of entities | async">
        <div class="grid-item">
          {{ workOrder.buyer.name }}
        </div>
        <div class="grid-item">
          {{ getWorkOrderNumber(workOrder) }}
        </div>
        <div class="grid-item">
          {{ workOrder.dateOfCreate | date: "dd.MM.yyyy" }}
        </div>
        <div class="grid-item align-left">
          {{ workOrder.forPerson }}
        </div>
        <div class="grid-item align-left">
          {{ workOrder.description }}
        </div>
        <div class="grid-item align-left">
          {{ workOrder.note }}
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'eye'"
            [isTransparentMode]="true"
            (clickEvent)="viewWorkOrder(workOrder.oid)"
            [disabled]="!hasPrivilege('WORK_ORDER_VIEW')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            [isTransparentMode]="true"
            (clickEvent)="editWorkOrder(workOrder.oid)"
            [disabled]="!hasPrivilege('WORK_ORDER_CREATE')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            [isTransparentMode]="true"
            (clickEvent)="deleteWorkOrder(workOrder)"
            [disabled]="!hasPrivilege('WORK_ORDER_DELETE')"
          ></app-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
