<div class="container">
  <div class="search-bar">
    <app-search-input
      [placeholder]="'searchFor' | translate"
      [keyword]="keyword"
      (changeEvent)="inputSearchHandler($event)"
    ></app-search-input>
    <app-button
      [iconName]="'plus'"
      [text]="'createBuyer' | translate"
      (clickEvent)="createBuyer()"
      class="create-button"
      [disabled]="!hasPrivilege('BUYER_CREATE')"
    ></app-button>
  </div>

  <div class="buyers" scrollToBottom (bottomReached)="bottomReachedHandler()">
    <div class="grid-container standard-grid-table">
      <div class="grid-item header sticky">{{ "type" | translate }}</div>
      <div class="grid-item header sticky">{{ "name" | translate }}</div>
      <div class="grid-item header sticky">{{ "address" | translate }}</div>
      <div class="grid-item header sticky">
        {{ "maticalNumber" | translate }}
      </div>
      <div class="grid-item header sticky">{{ "pib" | translate }}</div>
      <div class="grid-item header sticky">{{ "email" | translate }}</div>
      <div class="grid-item header sticky">{{ "edit" | translate }}</div>
      <div class="grid-item header sticky">{{ "delete" | translate }}</div>
      <div
        class="no-results"
        *ngIf="(totalEntitiesLength | async) === 0 && !(isLoading | async)"
      >
        {{ "noResults" | translate }}
      </div>
      <div class="spinner" *ngIf="isLoading | async">
        <mat-spinner></mat-spinner>
      </div>
      <ng-container *ngFor="let item of entities | async">
        <div class="grid-item">
          {{ item.type || "" | lowercase | translate }}
        </div>
        <div class="grid-item center">{{ item.name }}</div>
        <div class="grid-item center">{{ item.address }}</div>
        <div class="grid-item">{{ item.maticalNumber }}</div>
        <div class="grid-item">{{ item.pib }}</div>
        <div class="grid-item">{{ item.email }}</div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            (clickEvent)="editBuyer(item.oid)"
            [isTransparentMode]="true"
            [disabled]="!hasPrivilege('BUYER_CREATE')"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            (clickEvent)="deleteBuyer(item)"
            [isTransparentMode]="true"
            [disabled]="!hasPrivilege('BUYER_DELETE')"
          ></app-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
