<div class="container">
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">
    <div class="content">
      <div class="title">
        {{ "create" | translate }}
        {{ selectedServiceType.displayName | translate }}
      </div>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "type" | translate }}
        </mat-label>
        <mat-select
          (selectionChange)="setServiceType($event.value)"
          formControlName="type"
          [disabled]="!!parent"
        >
          <mat-option
            *ngFor="let type of serviceTypes"
            [value]="type.value"
            [disabled]="type.value === 'SUBTASK' && !parent"
          >
            {{ type.displayName | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="parent && parentOidControl">
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          <ng-container *ngIf="selectedServiceType.value !== 'TASK'">
            {{ "case" | translate }}
          </ng-container>
          <ng-container *ngIf="selectedServiceType.value !== 'SUBTASK'">
            {{ "task" | translate }}
          </ng-container>
        </mat-label>
        <mat-select formControlName="parentOid" [disabled]="!!parent">
          <mat-option [value]="parent.oid">
            {{ getServiceNumber(parent) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--
        <mat-form-field *ngIf="parent && selectedServiceType.value === 'SUBTASK'">
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "task" | translate }}
        </mat-label>
        <mat-select [(value)]="selectedServiceType">
          <mat-option [value]="parent.oid">
            {{ getTaskNumber(parent) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    -->
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "buyer" | translate }}
        </mat-label>
        <mat-select
          formControlName="buyer"
          (infiniteScroll)="bottomReachedHandlerBuyers()"
          msInfiniteScroll
          [compareWith]="compareFn"
          (selectionChange)="selectBuyer($event)"
          [disabled]="!!parent"
        >
          <mat-option>
            <ngx-mat-select-search
              [formControl]="searchControlBuyers"
              placeholderLabel="{{ 'searchFor' | translate }}"
              noEntriesFoundLabel="{{ 'noResults' | translate }}"
              (ngModelChange)="searchHandlerBuyers($event)"
              [hideClearSearchButton]="true"
              [clearSearchInput]="false"
              [searching]="(isLoadingBuyers | async) || false"
              [disableScrollToActiveOnOptionsChanged]="true"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngIf="selectedBuyer" [value]="selectedBuyer">{{
            selectedBuyer.name
          }}</mat-option>
          <ng-container *ngFor="let buyer of buyerEntities | async">
            <mat-option
              [value]="buyer"
              *ngIf="!(selectedBuyer?.oid === buyer.oid)"
            >
              {{ buyer.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "dateOfCreate" | translate }}
        </mat-label>
        <input type="date" matInput formControlName="dateOfCreate" />
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "status" | translate }}
        </mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let item of statusOptions" [value]="item.value">
            {{ item.displayName | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "title" | translate }}
        </mat-label>
        <input type="text" matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "description" | translate }}
        </mat-label>
        <textarea
          matInput
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label
          [class.mark-required]="true"
          [class.mark-opt-required]="true"
        >
          {{ "currentUser" | translate }}
        </mat-label>
        <mat-select
          formControlName="currentUser"
          (infiniteScroll)="bottomReachedHandlerUsers()"
          msInfiniteScroll
          [compareWith]="compareFn"
          (selectionChange)="selectUser($event)"
        >
          <mat-option>
            <ngx-mat-select-search
              [formControl]="searchControlUsers"
              placeholderLabel="{{ 'searchFor' | translate }}"
              noEntriesFoundLabel="{{ 'noResults' | translate }}"
              (ngModelChange)="searchHandlerUsers($event)"
              [hideClearSearchButton]="true"
              [clearSearchInput]="false"
              [searching]="(isLoadingUsers | async) || false"
              [disableScrollToActiveOnOptionsChanged]="true"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngIf="selectedUser" [value]="selectedUser">
            {{ selectedUser.fullName }}
          </mat-option>
          <ng-container *ngFor="let user of userEntities | async">
            <mat-option
              [value]="user"
              *ngIf="!(selectedUser?.oid === user.oid)"
            >
              {{ user.fullName }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="footer">
      <app-button
        [text]="'cancel' | translate"
        color="secondary"
        (clickEvent)="cancel()"
      ></app-button>
      <app-button
        [text]="'create' | translate"
        color="primary"
        [disabled]="!formGroup.dirty || formGroup.invalid"
        (clickEvent)="handleSubmitButton()"
      ></app-button>
    </div>
  </form>
</div>
