<div class="title">
  {{ "tasks" | translate }}
</div>
<div class="container">
  <div
    class="tasks"
    [componentLoading]="(isLoading | async) || false"
    scrollToBottom
    (bottomReached)="bottomReachedHandler()"
  >
    <div
      class="task"
      *ngFor="let task of entities | async"
      (click)="getServiceNumber(task)"
      (click)="openService(task)"
      [class.active]="taskOID === task.oid"
    >
      <div class="description">
        <span> {{ task.title }} </span>
      </div>
      <div class="footer">
        <div class="number">
          {{ getServiceNumber(task) }}
        </div>
        <div class="user">
          <app-user-card
            [dataModel]="task.currentUser"
            class="user"
            [showUserData]="false"
            [size]="'extra-small'"
            [shape]="'circled'"
            *ngIf="true"
          ></app-user-card>
          <div class="user-name" *ngIf="false">
            {{ task.currentUser.fullName }}
          </div>
        </div>
      </div>
    </div>
    <div class="empty-content" *ngIf="(length | async) === 0">
      {{ "thereAreNoTasks" | translate }}
    </div>
  </div>
  <div class="task-content">
    <div class="header">
      <div class="search-bar">
        <app-search-input
          (changeEvent)="searchTextHandler($event)"
        ></app-search-input>
        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "status" | translate }}
          </mat-label>
          <mat-select multiple (valueChange)="statusTypeChanged($event)">
            <mat-option *ngFor="let item of statusOptions" [value]="item.value">
              {{ item.displayName | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label
            [class.mark-required]="true"
            [class.mark-opt-required]="true"
          >
            {{ "user" | translate }}
          </mat-label>
          <mat-select
            multiple
            (valueChange)="userChanged($event)"
            (infiniteScroll)="bottomReachedHandlerUsers()"
            msInfiniteScroll
          >
            <mat-option
              *ngFor="let user of userEntities | async"
              [value]="user"
            >
              {{ user.fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <app-button
        [text]="'createCase' | translate"
        (clickEvent)="create()"
        [iconName]="'plus'"
      ></app-button>
    </div>

    <app-service-edit></app-service-edit>
  </div>
</div>
